{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
            $(".messageStackSuccess").addClass("displayNone"

            );
            // $messageStackSuccess
        });
    }, 50000);
</script>
<div class="container">
    <div class="row">
        <div class="col-md-12 d-flex align-items-center mb-3 m-dblock">
            <h1 class="m-0">{LATEST_REPORT}</h1>
            <div class="d-flex ms-auto">
                {test_menus}
            </div>
        </div>
    </div>


    {update_message}
        <div class="row">
            <div class="col-md-12">
                <div
                    class="card card-custom">
                    <div class="card-body p-0 card-body-custom table-responsive-sm">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{TEST_TITLE}</th>
                                    <th>{JOB_TITLE}</th>
                                    <th>{MESSAGE}</th>
                                    <th>{NOTE}</th>
                                    <th>{TOTAL_SCORE}</th>
                                    <th>{OUT_OF}</th>
                                    <th>{START}</th>
                                </tr>
                            </thead>
                            <!-- BEGIN latest_report -->
                            <tr>
                                <td>{latest_report.title}</td>
                                <td>{latest_report.job_name}</td>
                                <td>{latest_report.message}</td>
                                <td>{latest_report.note}</td>
                                <td>{latest_report.total_points}</td>
                                <td>{latest_report.out_of}</td>
                                <td>{latest_report.start}</td>
                            </tr>
                            <!-- END latest_report -->
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{FOOTER_HTML}