<title>{page_title}</title>
<META NAME="Keywords" CONTENT=" {meta_title}">
    <meta NAME="Description" CONTENT=" {meta_description} ">
    {HEADER_HTML}
    {HEADER_MIDDLE_HTML}
    <script>
        window.setTimeout(function () {
            $(".alert").fadeTo(500, 0).slideUp(500, function () {
                $(this).remove();
            });
        }, 4000);
    </script>
    
    
    <div class="be-content">
        {update_message}
        <div class="main-content container">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
                <h1 class="h2" id="header">{TEST_TITLE}</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-groupp mr-2">
                        {test_menus}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-custom">
                            <span class="heading_bar_internal_content">
                                <h1 class="display-6 p-0 m-0 float-left">{QUIZ_TITLE}</h1>
                            </span>
                            <div class="float-right text-right">
                                <p class="timer mt-2 text-info" id="timer_left"></p>
                            </div>
                        </div>
                        {form}
                        <div class="card-body">
                            {hidden_quiz_input_id}
                            <!-- BEGIN questions -->
                            <div class="form-group row">
                                <label for="essay_answer" class="col-sm-5 col-form-label text-left">
                                    {questions.quizTemplate}
                                </label>
                                <div class="col-sm-7">
                                    <textarea name="essay_answer" id="essay_answer" class="form-control" cols="30" rows="10" placeholder="type your answer, the word limit is 1000 max"></textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="essay_answer" class="col-sm-5 col-form-label text-left">
                                </label>
                                <div class="col-sm-7">
                                    <button type="submit" class="btn btn-primary float-right" id="essaySubmitBtn">Submit</button>
                                </div>
                            </div>
                            <!-- END questions -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // get quiz minute from quiz table and convert it into seconds
    let seconds = "{QUIZ_TIMER}" * 60;
    let isFocused = true;

    const textInput = document.getElementById('essay_answer');
    const submitBtn = document.getElementById('essaySubmitBtn');

    // Check if window focused EVERY 1.5 seconds
    function checkWindowFocused() {
        if (document.hasFocus() && isFocused === true) {
            isFocused = true;
        } else {
            isFocused = false;
        }
        console.log(isFocused)
    }

    function secondPassed() {
        const element = document.getElementById('timer_left');
        let minutes = Math.round((seconds - 30) / 60);
        let remainingSeconds = seconds % 60;
        
        if (remainingSeconds < 10) {
            remainingSeconds = "0" + remainingSeconds;
        }
        
        element.innerHTML = "Time Left: " + minutes + ":" + remainingSeconds;
        
        if (seconds <= 0) {
            clearInterval('countdownTimer');
            element.innerHTML = "Time Out...";
            document.getElementById("formSubmit").submit();
        } else {
            seconds--;
        }
    }
    
    let countdownTimer = setInterval(secondPassed, 1000);
    setInterval(checkWindowFocused, 1500); // check if focused every 1.5 seconds
    

    submitBtn.addEventListener('click', function (e) {
        e.preventDefault();
        if ((textInput.value == '') || textInput.value.length > 1000) {
            alert('something went wrong. The word limit is 1000')
        } else {
            const sameWin = (isFocused === true) ? 1 : 0
            document.getElementById('same_window').value = sameWin
            document.getElementById("formSubmit").submit();
        }
    })
</script>

<!--container end here-->
{FOOTER_HTML}