{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
    {update_message}
    <div class="row">
        <div class="col-md-8">
            <div class="align-items-center mb-4">
                <h1 class="mb-4 fw-bold" style="font-size: 36px;">{COURSE_TITLE}</h1>
            </div>

            <div class="course-video mb-5">
                {COURSE_OVERVIEW_VID}
            </div>

            <div class="mb-5">
                {COURSE_CONTENT}
            </div>
        </div>
        <div class="col-md-4">
            <!-- Collapese Start -->
            <section id="info-utile">
                <div class="container">
                    <h3 class="lead-h-text mb-3">Course content</h3>
                    <h5 class="lead-h-text">Lessons</h5>

                    {LESSON_SECTION}

                </div>
            </section>
            <!-- Collapese End -->

        </div>
    </div>
</div>
{FOOTER_HTML}