{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<table border="0" width="100%" cellspacing="0" cellpadding="2">
 <tr> 
  <td><img src="img/dot.gif" width="960" height="3"></td>
	</tr>
 <tr> 
<!-- Left Starts -->
	 <td align="center">
		 <table width="100%" border="0" cellspacing="0" cellpadding="0" >
				<tr> 
				 <td  valign="top" width="151">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="right_table2" >
       <tr>
        <td>
         <table width="100%" border="0" cellspacing="1" cellpadding="0" class="right_table1">
          <tr> 
           <td >
            <table width="100%" border="0" cellspacing="0" cellpadding="2" >
             <tr> 
             <td  bgcolor="#ffffff" height="49"   ><font color="#cc0000">&nbsp;<strong>Job Title:</strong></font><br> <font color="#002e79">{INFO_TEXT_JOB_TITLE}</font></td>
            </tr>
            <tr> 
             <td class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" valign="top"><img src="img/red_rec.gif"> {INFO_TEXT_ALL_APPLICANT}</td>
            </tr>
            <tr> 
             <td class="dataTableRightRow1" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" valign="top"><img src="img/red_rec.gif"> {INFO_TEXT_SELECTED_APPLICANT}</td>
            </tr>
            <tr> 
             <td class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" valign="top"><img src="img/red_rec.gif"> {INFO_TEXT_SEARCH_APPLICANT} </td>
            </tr>
            <tr> 
             <td class="dataTableRightRow1" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" valign="top"><img src="img/red_rec.gif"> {INFO_TEXT_JOB_DETAIL} </td>
            </tr>
            <tr> 
             <td class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" valign="top"><img src="img/red_rec.gif"> {INFO_TEXT_ADD_APPLICANT} </td>
            </tr>
            <tr> 
             <td  bgcolor="#c0c0c0" ></td>
            </tr>
            <tr> 
             <td  bgcolor="#ffffdf" valign="middle" height="25"><font color="#003366">&nbsp;<strong>Reports</strong></font></td>
            </tr>
            <tr> 
             <td  bgcolor="#c0c0c0" ></td>
            </tr>
            <tr> 
             <td class="dataTableRightRow1" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" valign="top"><img src="img/red_rec.gif"> {INFO_TEXT_REPORT_PIPELINE} </td>
            </tr>
            <tr> 
             <td class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" valign="top"><img src="img/red_rec.gif"> {INFO_TEXT_REPORT_ROUNDWISE} </td>
            </tr>
            <tr> 
             <td class="dataTableRightRow1" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" valign="top"><img src="img/red_rec.gif"> {INFO_TEXT_REPORT_ROUNDWISE_SUMMARY} </td>
            </tr>
            <tr> 
             <td class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)" valign="top"><img src="img/red_rec.gif"> {INFO_TEXT_VIEW_DATE_REPORT} </td>
            </tr>
            </table>
           </td>
          </tr>
         </table>
        </td>
       </tr>
					 </table>
					</td>
     <!-- Left Ends -->        
					<!-- Middle Starts -->
					<td align="center" valign="top">
					 <table width="97%" border="0" cellpadding="0" cellspacing="1" bgcolor="#b0bec7">
					  <tr> 
							 <td bgcolor="#FFFFFF">
								 <table width="100%" border="0" cellspacing="0" cellpadding="0">
									 <tr> 
										 <td height="28" align="center" background="img/bg_job.gif"> 
											 <table width="97%" border="0" cellspacing="0" cellpadding="0">
												 <tr> 
													 <td width="50%"  class="pageHeading" align="center">{HEADING_TITLE}</td>
													</tr>
												</table>
											</td>
										</tr>
          <tr class="background">
           <td valign="top">
            <table border="0" width="100%" cellspacing="3" cellpadding="0">
             <tr>
              <td valign="top">
              {update_message}
              </td>
             </tr>
            </table>
            <table border="0" width="100%" cellspacing="5" cellpadding="0">
            <tr>
             <td class="label" align="right" >{INFO_TEXT_BACK}&nbsp;|&nbsp;{INFO_TEXT_JOB_LISTING}&nbsp;|&nbsp;{INFO_TEXT_APPLICATION}</td>
            </tr>
           </table>           
           <table border="0" width="100%" cellspacing="5" cellpadding="0">
            <tr>
             <td class="red" ><b>{TABLE_HEADING_TITLE}</b></td>
            </tr>   
           </table>            
           <br>
           <table border="0"  cellspacing="3" cellpadding="0">
            <tr>{form}
             <td class="label">&nbsp;&nbsp;&nbsp;&nbsp;</td>
             <td class="label">{INFO_TEXT_FROM_DATE1}</td>
             <td class="label">{INFO_TEXT_TO_DATE}</td>
             <td class="label">{INFO_TEXT_SUBMIT}</td>
            </tr>
           </table>
           <table border="0" width="80%" cellspacing="3" cellpadding="0">
            <tr>
             <td valign="top">
             {update_message}
             <!----------------->
             <table border="0"   cellspacing="0" cellpadding="10">
              <tr>
               <td valign="bottom">         
                <table border="0"   bgcolor="#CCCCCC" cellspacing="0"  style="border: 1 solid #c0c0c0" cellpadding="0">
                 <tr>
                  <!-- BEGIN date_report -->
                  <td bgcolor="#FFFFFF" >
                   <table border="0"   cellspacing="0" cellpadding="0">
                    <tr>
                     <td >
                      <table    border="0"  bgcolor="#ffffff"  cellspacing="0" cellpadding="3">
                       <tr height="240" >
                        <td align="center" valign="bottom" background="img/line1.gif"><table><tr><td align="center" class="small">{date_report.value}</td></tr><tr><td align="center" valign="bottom"> {date_report.image}</td></tr></table></td>
                       </tr>
                       <tr>
                         <td   align="center" bgcolor="#c0c0c0" ></td>
                       </tr>
                       <tr>
                         <td height="40"  align="center" bgcolor="#f2f2f2" class="small">{date_report.name}</td>
                       </tr>
                      </table>
                     </td>
                    </tr>
                   </table>
                  </td>
                  <!-- END date_report -->
                 </tr>
                </table>
               </td>
              </tr>
             </table>
             <!----------------->
              <table border="0" width="100%" cellspacing="1" cellpadding="2">
               <tr class="dataTableHeadingRow">
                 <td class="dataTableHeadingContent">{TABLE_HEADING_DATE}</td>
                 <td class="dataTableHeadingContent">{TABLE_HEADING_APPLICATION}</td>
                 <td class="dataTableHeadingContent" align="center">{TABLE_HEADING_SELECTED_APPLICATION}</td>
               </tr>
               <!-- BEGIN applicant -->
               <tr{applicant.row_selected}>
                <td valign="top" class="dataTableContent" >{applicant.date}</td>
                <td valign="top" class="dataTableContent" >{applicant.inserted}</td>
                <td valign="top" class="dataTableContent" >{applicant.selected}</td>
               </tr>
              <!-- END applicant -->
              <tr style="background-color:#ffefef">
                <td valign="top" class="dataTableContent" ><span style="color:red"><b>Total</b></span></td>
                <td valign="top" class="dataTableContent" ><span style="color:red"><b>{no_of_inserted}</b></span></td>
                <td valign="top" class="dataTableContent" ><span style="color:red"><b>{no_of_selected}</b></span></td>
               </tr></form>
              </table>
             </td>
            </tr>
           </table>
           <hr><br>

           </td>
          </tr>									 
         </table>
								</td>
							</tr>
						</table>
					</td>
    <!-- Middle Ends -->
				<!-- Right Starts -->     
			 </tr>
		 </table>
	 </td>
 </tr>
</table>
<!-- Right Ends -->
{FOOTER_HTML}