{HEADER_HTML}
{HEADER_MIDDLE_HTML}
 </td>
</tr>
<script language="JavaScript">
  <!--
  function set_action1(application,action)
  {
   if(application!='' && action!='') 
   {
    document.page.application_id.value=application;
    document.page.action1.value=action;
    document.page.submit();
    }
  }
  //-->
  </script>
<tr>
	<td valign="top">
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
   <tr valign="top">
    <td width="1%">
					<table width="179"  border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td>
								<table width="179"  border="0" cellpadding="0" cellspacing="1" bgcolor="#e2e2e2">
         <tr>
          <td bgcolor="#FFFFFF">
											<table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
												<tr>
													<td>
														<table width="100%"  border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td width="0%" background="img/emp_left_bar_bg.gif"><div align="left"><img src="img/emp_left_bar_left.gif" width="2" height="21"></div></td>
																<td width="100%" background="img/emp_left_bar_bg.gif"><span class="style28">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{INFO_TEXT_JOB_TITLE}</span></td>
																<td width="0%" background="img/emp_left_bar_bg.gif"><div align="right"><img src="img/emp_left_bar_right.gif" width="2" height="21"></div></td>
															</tr>
														</table>
													</td>
												</tr>
												<tr>
													<td bgcolor="#e2e2e2"><img src="img/spacer.gif" width="5" height="1"></td>
												</tr>
												<tr>
													<td>
														<table width="100%"  border="0" cellspacing="0" cellpadding="5">
														 <tr>
																<td colspan="2" align="center" class="style27">{INFO_TEXT_JOB_TITLE}</td>
               </tr>
															<tr class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
																<td width="16%"><div align="right"><img src="img/red_bullet_job.gif" width="4" height="6"></div></td>
                <td width="84%"><span class="style27">{INFO_TEXT_ALL_APPLICANT}</span></td>
               </tr>
               <tr class="dataTableRightRow1" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
                <td><div align="right"><img src="img/red_bullet_job.gif" width="4" height="6"></div></td>
                <td><span class="style27">{INFO_TEXT_SELECTED_APPLICANT}</span></td>
               </tr>
               <tr class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
                <td class="style27"><div align="right"><img src="img/red_bullet_job.gif" width="4" height="6"></div></td>
                <td class="style27" >{INFO_TEXT_SEARCH_APPLICANT} </td>
               </tr>
               <tr class="dataTableRightRow1" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
                <td><div align="right"><img src="img/red_bullet_job.gif" width="4" height="6"></div></td>
                <td><span class="style27">{INFO_TEXT_JOB_DETAIL}</span></td>
               </tr>
               <tr class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
                <td class="style27"><div align="right"><img src="img/red_bullet_job.gif" width="4" height="6"></div></td>
                <td class="style27">{INFO_TEXT_ADD_APPLICANT} </td>
               </tr>
              </table>
													</td>
            </tr>
            <tr>
             <td bgcolor="#e2e2e2"><img src="img/spacer.gif" width="5" height="1"></td>
            </tr>
           </table>
										</td>
         </tr>
        </table>
							</td>
      </tr>
      <tr>
       <td><img src="img/spacer.gif" width="5" height="12"></td>
      </tr>
      <tr>
       <td>
							 <table width="100%"  border="0" cellpadding="0" cellspacing="1" bgcolor="#CCCCCC">
         <tr>
          <td bgcolor="#FFFFFF">
										 <table width="100%"  border="0" cellspacing="0" cellpadding="0">
            <tr>
             <td height="22" bgcolor="#999999"><span class="style34">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{INFO_TEXT_REPORTS}</span></td>
            </tr>
            <tr>
             <td>
													 <table width="100%"  border="0" cellpadding="0" cellspacing="0" bgcolor="#CCCCCC">
               <tr>
                <td bgcolor="#FFFFFF">
																 <table width="100%"  border="0" cellspacing="0" cellpadding="5">
                  <tr class="dataTableRightRow1" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
                   <td width="15%"><div align="right"><img src="img/red_bullet_job.gif" width="4" height="6"></div></td>
                   <td width="85%"><span class="style27"> {INFO_TEXT_REPORT_PIPELINE}</span></td>
                  </tr>
                  <tr class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
                   <td><div align="right"><img src="img/red_bullet_job.gif" width="4" height="6"></div></td>
                   <td><span class="style27">{INFO_TEXT_REPORT_ROUNDWISE}</span></td>
                  </tr>
                  <tr class="dataTableRightRow1" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
                   <td class="style27"><div align="right"><img src="img/red_bullet_job.gif" width="4" height="6"></div></td>
                   <td class="style27">{INFO_TEXT_REPORT_ROUNDWISE_SUMMARY}</td>
                  </tr>
                  <tr class="dataTableRightRow" onmouseover="rowOverEffect(this)" onmouseout="rowOutEffect(this)">
                   <td><div align="right"><img src="img/red_bullet_job.gif" width="4" height="6"></div></td>
                   <td><span class="style27">{INFO_TEXT_VIEW_DATE_REPORT}</span></td>
                  </tr>
                 </table>
																</td>
               </tr>
              </table>
													</td>
            </tr>
           </table>
										</td>
         </tr>
        </table>
							</td>
      </tr>
     </table>                  
				</td>
    <td width="1%"><img src="img/spacer.gif" width="10" height="5"></td>
    <td width="66%"><div align="center">
     <table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
       <td>
							 <table width="100%"  border="0" cellspacing="0" cellpadding="0">
         <tr>
          <td width="0%" background="img/main_bar_bg.gif"><div align="left"><img src="img/main_bar_left.gif" width="2" height="30"></div></td>
          <td width="100%" background="img/main_bar_bg.gif">
										 <table  border="0" align="left" cellpadding="0" cellspacing="0">
            <tr>
             <td><img src="img/spacer.gif" width="12" height="5"></td>
             <td><img src="img/dotted_bullet.gif" width="10" height="10"></td>
             <td><img src="img/spacer.gif" width="6" height="5"></td>
             <td><span class="style8">{HEADING_TITLE}</span></td>
            </tr>
           </table>
										</td>
          <td width="0%" background="img/main_bar_bg.gif"><div align="right"><img src="img/main_bar_right.gif" width="2" height="30"></div></td>
         </tr>
        </table>
							</td>
      </tr>
      <tr>
       <td>{update_message}
							 <table width="100%" height="300"  border="0" cellpadding="15" cellspacing="1" bgcolor="#E2E2E2">
         <tr>
          <td valign="top" bgcolor="#FFFFFF">
										 <table width="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
             <td height="25" bgcolor="#F7F7F7" class="style8">&nbsp;&nbsp;&nbsp;&nbsp;{INFO_TEXT_LATEST_STATUS}</td>
            </tr>
            <tr>
             <td>&nbsp;</td>
            </tr>
            <tr>
             <td>
													 <table width="100%"  border="0" cellspacing="1" cellpadding="2">
               <tr class="dataTableHeadingRow">
                <td class="dataTableHeadingContent" width="25%" >{TABLE_HEADING_RANK_ROUND}</td>
                <td class="dataTableHeadingContent" width="15%">{TABLE_HEADING_RANK_RATING}</td>
                <td class="dataTableHeadingContent" width="30%">{TABLE_HEADING_RANK_INSERTED}</td>
                <td class="dataTableHeadingContent" width="30%" align="center">{TABLE_HEADING_RANK_UPDATED}</td>
               </tr>{form}
              <!-- BEGIN application_status1 -->
               <tr {application_status1.row_selected}>
                <td valign="top" class="dataTableContent" >{application_status1.round} Round </td>
                <td valign="top" class="dataTableContent" >{application_status1.rating}</td>
                <td valign="top" class="dataTableContent" >{application_status1.inserted}</td>
                <td valign="top" class="dataTableContent" >{application_status1.updated}</td>
               </tr>
              <!-- END application_status1 -->
              </form>
              </table>
													</td>
            </tr>
												<tr>
             <td>&nbsp;</td>
            </tr>
            <tr> 
													<td>
														<table width="100%" border="0" cellspacing="0" cellpadding="0">
															<tr> 
																<td>
																	<table width="100%" border="0" cellspacing="1" cellpadding="2">
																		<!-- BEGIN application_status -->
                  <tr>{application_status.form}
                   <td valign="top" class="dataTableContent" >{application_status.round} Round </td>
                   <td valign="top" class="dataTableContent" >{application_status.rating}</td>
                   <td valign="top" class="dataTableContent" >{application_status.rate_button}</td>
                  </tr></form>
                  <!-- END application_status -->
																	</table>
																</td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td>
         </tr>
								</table>
							</td>
      </tr>
					</table>
     </div>
				</td>
    <td width="1%"><img src="img/spacer.gif" width="10" height="5"></td>
    <td width="13%">
				 <table width="179"  border="0" cellpadding="0" cellspacing="1" bgcolor="#e2e2e2">
      <tr>
       <td bgcolor="#FFFFFF">
							 {RIGHT_HTML}
							</td>
      </tr>
     </table>
				</td>
   </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
   </tr>
  </table>
	</td>
</tr>
{FOOTER_HTML}
