{HEADER_HTML}
{HEADER_MIDDLE_HTML}

<div class="container">
  <div class="row">
    <div class="col-md-7 mx-auto">
		{update_message}
      <div class="card">
			<div class="card-header card-header-custom">
                <h1 class="main-heading">{HEADING_TITLE}</h1>
            </div>
        <div class="card-body">
        {form}
		{INFO_TEXT_DESCRIPTION1}
        </div>
		<div class="card-footer card-footer-custom">
            <h1 class="main-heading">{button} {button1}</h1>
        </div>
		{hidden_fields}
		{hidden_fields}
		{form1}	
		</form>
      </div>
    </div>
  </div>
</div>
{FOOTER_HTML}