<div style="background-color: #edf0f3; font-size: 14px; color: #272727; font-weight: normal; padding: 25px 0;">
<div style="background-color: #fff; border: 1px solid #e7e7e8; width: 500px; margin: 0 auto; border-radius: 7px; padding: 25px 20px;">
<div style="text-align: center; margin: 0 auto;">{logo}</div>
<div style="background-color: #e7e7e8; height: 0.5px; margin: 20px -21px;"> </div>
<div style="margin: 20px 0;">Dear {to_email_address},</div>
<div style="margin: 20px 0;">You have received an invitation from {from_email_name} to become a member of ejobsitesoftware.com.</div>
<div style="margin: 20px 0;">To be a part of ejobsitesoftware.com... please {click_here}.</div>
<div style="margin: 20px 0;">Thanks And Regards,</div>
<div style="margin: 20px 0;">{from_email_name}</div>
</div>
</div>