<div>
 <p>If this is a mistake just ignore this email - your password will not be changed.</p>
 <p>Want to change your password? Please click on the link given below to reset the password<p>
 <br>
 <p><a rel="nofollow" target="_blank" href="{reset_password_url}" style="text-decoration:underline;color:#2585B2;border:1px solid #11729E;text-decoration:none;color:#fff;text-shadow:0 1px 0 #11729E;background-color:#2585B2;padding:5px 15px;font-size:16px;line-height:1.4em;font-family:Helvetica Neue, Helvetica, Arial, sans-serif;font-weight:normal;margin-left:0;white-space:nowrap;" >Reset password</a></p>
 <br>
 <p>Alternatively, you can enter the following password reset code:	<br> <br>&nbsp;
  <div style="padding:10px;background:#2585B2;color:#fff;display:block;width:30%;border:solid 1px #0D4B4F;">{reset_password_code}</div></p>
  <br>
  <p>If you are not able to click on the above link, please copy and paste the entire URL into your browser's address bar and press Enter.</p>	
  <br><br>
  {reset_password_url}
  <br>&nbsp;
</div>