{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
	<div class="row">
        <div class="col-md-12">
            <h1 class="main-heading">{HEADING_TITLE}</h1>
        </div>
    </div>
<tr>
	<td valign="top">
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				<td width="86%"><div align="center">
					<table width="100%"  border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td>
							 <table width="100%" border="0" cellpadding="0" cellspacing="0"  id="main-jobs-table2">
									<tr>
										<td valign="top" bgcolor="#FFFFFF">
											<table border="0" width="100%" align="center" cellpadding="5" cellspacing="0">
												<tr>
             <td align="right" width="50%">{INFO_TEXT_ALL_JOB_RSS}</td>
										  	<td align="left" width="50%">{ALL_RSS}</td>
            </tr>
											</table>
											<table border="0" width="100%" cellspacing="0" cellpadding="10">
												<tr>
													<td align="center" valign="top" >
														<table border="0" width="100%" cellspacing="0" cellpadding="3">
															<!-- BEGIN job_rss -->
															<tr> 
																<td class="style27" >{job_rss.category_name}</td>
																<td align="left" >{job_rss.link_rss}</td>
															</tr>
															<!-- END job_rss -->
														</table>
														</td>
														<td valign="top">
														<table border="0" width="100%" cellspacing="0" cellpadding="3">
															<!-- BEGIN job_rss1 -->
															<tr> 
															<td class="style27" >{job_rss1.category_name}</td>
															<td align="left"  >{job_rss1.link_rss}</td>
														</tr>
															<!-- END job_rss1 -->
														</table>
														</td>
														<td valign="top">
														<table border="0" width="100%" cellspacing="0" cellpadding="3">
															<!-- BEGIN job_rss2 -->
															<tr> 
															<td class="style27" >{job_rss2.category_name}</td>
															<td align="left"  >{job_rss2.link_rss}</td>
														</tr>
															<!-- END job_rss2 -->
														</table>
													</td>
												</tr>
											</table>
           <table border="0" width="100%" align="center" cellpadding="5" cellspacing="0">
												<tr>
             <td align="right" width="50%">FORUM RSS</td>
										  	<td align="left" width="50%">&nbsp;</td>
            </tr>
											</table>
           <table border="0"  align="center" cellpadding="13" cellspacing="0">
												<tr>
             <td class="style27" >Forum RSS</td>
										  	<td >{FORUM_RSS}</td>
             <td class="style27" >Topic RSS</td>
										  	<td >{TOPIC_RSS}</td>            
            </tr>
           </table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</div>
				</td>
				<!-- Middle Ends -->
    <!-- Right Starts 
				{RIGHT_HTML}
    <!-- Right ends -->
			</tr>
			
		</table>
	</td>
</tr>
</div>
{FOOTER_HTML}
