{HEADER_HTML}
{HEADER_MIDDLE_HTML}
 </td>
</tr>
<script language="JavaScript">
function check_action(objFrm)
{
	var check;
	var action_status;
 check=false;
 action_status=true;
 var j=1;   
 for( var i =0; i< objFrm.length;i++)
	{
  if(objFrm[i].type=='checkbox')
	 {
   action_status=false;
   	if((objFrm[i].checked) == true)
			{
   	check=true;
    if(objFrm[i+1].value=='')
    {
     alert("Please enter row"+[j]+" friend name");
     objFrm[i+1].focus();
     return false;
     break;
    }
			}
   j=j+1;
		}  
	}
 if(check)
  return true;  
 else if (action_status)
 {
  return false;  
 }
 else
	{
  alert('Please check atleast one checkbox.');
  return false;  
	}
}
function check_all()
{
	for (var i=0;i < invitation_send.elements.length;i++)
	{
		var e = invitation_send.elements[i];
		if (e.type == "checkbox" && e.disabled!=true)
		{
			e.checked = true;
		}
	}
}
function uncheck_all()
{
	for (var i=0;i < invitation_send.elements.length;i++)
	{
		var e = invitation_send.elements[i];
		if (e.type == "checkbox")
		{
			e.checked = false;
		}
	}
}
</script>
<tr>
	<td valign="top">
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				<td width="86%"><div align="center">
					<table width="100%"  border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%"  border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="0%" background="img/main_bar_bg.gif"><div align="left"><img src="img/main_bar_left.gif" width="2" height="30"></div></td>
										<td width="100%" background="img/main_bar_bg.gif">
											<table  border="0" align="left" cellpadding="0" cellspacing="0">
												<tr>
													<td><img src="img/spacer.gif" width="12" height="5"></td>
													<td><img src="img/dotted_bullet.gif" width="10" height="10"></td>
													<td><img src="img/spacer.gif" width="6" height="5"></td>
													<td><span class="style8">{HEADING_TITLE}</span></td>
												</tr>
											</table>
										</td>
										<td width="0%" background="img/main_bar_bg.gif"><div align="right"><img src="img/main_bar_right.gif" width="2" height="30"></div></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
							 <table width="100%" height="450"  border="0" cellpadding="15" cellspacing="1" bgcolor="#E2E2E2">
									<tr>
										<td valign="top" bgcolor="#FFFFFF">
											<table width="100%"  border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td>{update_message}
														<table width="95%"  border="0" align="center" cellpadding="15" cellspacing="1" bgcolor="#CCCCCC">
															<tr>
																<td bgcolor="#FFFFFF">
																	<table width="100%"  border="0" cellspacing="0" cellpadding="0">
																		<tr>
																			<td><span class="style27">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Invite your friends and acquaintances to join you on this site</span></td>
																		</tr>
																		<tr>
																			<td>{form}
																				<table  border="0" align="center" cellpadding="0" cellspacing="0">
																					<tr>
																						<td width="47%">
																							{check_all}
																						<div style="overflow:auto;height:300px;scrollbar-face-color:#FFFCE8;	scrollbar-arrow-color:000000;scrollbar-highlight-color:#D0C8C3;	scrollbar-3dlight-color:#D0C8C3;	scrollbar-darkshadow-Color:#D0C8C3; ">
																						<table border="0" width="100%" cellspacing="1" cellpadding="2">
																							<tr class="dataTableHeadingRow">
																								<td class="dataTableHeadingContent">{TABLE_HEADING_INVITE}</td>
																								<td class="dataTableHeadingContent">{TABLE_HEADING_FRIEND_NAME}</td>
																								<td class="dataTableHeadingContent">{TABLE_HEADING_EMAIL_ADDRESS}</td>
																							</tr>
																							<!-- BEGIN invitation -->
																							<tr{invitation.row_selected}>
																								<td valign="top" class="dataTableContent">{invitation.check_box}</td>
																								<td valign="top" class="dataTableContent">{invitation.name}</td>
																								<td valign="top" align="middle" class="dataTableContent">{invitation.email_address}</td>
																							</tr>
																							<!-- END invitation -->
																							<tr>
																								<td valign="top" colspan="2">{button}</td>
																						 </tr>
																						</table>
																						</div>
																						</td>
																					</tr>
																				</table></form>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>                                  
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</div>
				</td>
				<!-- Middle Ends -->
    <!-- Right Starts -->
				{RIGHT_HTML}
    <!-- Right ends -->
			</tr>
			<tr>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</table>
	</td>
</tr>
{FOOTER_HTML}
