{INFO_TEXT_SEARCH_JOB_TITLE}{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<script src="{HOST_NAME}jscript/jquery-3.5.1.min.js"></script>
<script src="{HOST_NAME}jscript/job_pagination.js"></script>
{MAP_JAVA_SCRIPT_LINK}
<script src="{HOST_NAME}jscript/map.js"></script>
<style>
#map-canvas
{
 height:500px;
}
</style>

			 <tr>
	<td valign="top">
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				
								<td width="100%"><div align="center">
					<table width="100%"  border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%"  border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="0%"></td>
										<td width="100%">
											<table width="100%"  border="0" cellspacing="0" cellpadding="0">
												<tr>
													<td>													<div class="page-headbar">
														<table  border="0" align="left" cellpadding="0" cellspacing="0">
															<tr>
																
																<td><div class="left-bar-heading">{HEADING_TITLE}</div></td>
															</tr>
														</table>														</div>
													</td>
												</tr>
											</table>
										</td>
										<td width="0%"></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>
								<table width="100%" height="550"  border="0" cellpadding="0" cellspacing="0" id="main-jobs-table2">
									<tr>
										<td valign="top" bgcolor="#FFFFFF">{update_message}
										 <div id="page_contents">
										 </div>
<SCRIPT LANGUAGE="JavaScript">
<!--
{MAP_SCRIPT}
//-->
</SCRIPT>
										 
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</div>
				</td>
				<!-- Middle Ends -->
    <!-- Right Starts -->
				
    <!-- Right ends -->
			</tr>
			
		</table>
	</td>
</tr>
{FOOTER_HTML}
