<!-- display jobfair detail-->
{HEADER_HTML} {HEADER_MIDDLE}
<!-- Below Script for auto close -->
<style>
  .displayNone {
    display: none;
  }
   p {
  font-size:18px;
  }
</style>
<script>
  window.setTimeout(function () {
    $(".alert")
      .fadeTo(500, 0)
      .slideUp(500, function () {
        $(this).remove();
        $(".messageStackSuccess").addClass("displayNone");
        // $messageStackSuccess
      });
  }, 50000);
</script>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {update_message}
      <div class="card card-custom mb-4">
        <!--<div class="card-header card-header-custom">
                    <h1 class="main-heading">{HEADING_TITLE}</h1>
                </div>-->
				
        <div class="card-header bg-white mb-4 border-bottom py-4" style="border-radius: 0px;">
		<div class="d-flex">
		  <div class="flex-shrink-0">
			{jobfair_logo}
		  </div>
		  <div class="flex-grow-1 ms-3">
			<h1 class="display-5 fw-bold mt-0 mb-3">{jobfair_title}</h1>
			 <h5 class="">
                <i class="bi bi-geo-alt"></i>
                {jobfair_location}
              </h5>
              <h5 class="">
                <i class="bi bi-calendar4"></i>
                {jobfair_startdate}
              </h5>
              <div class="mt-3 short-desc">{jobfair_short_desc}</div>
		  </div>
		</div>
        </div>
        <div class="card-body card-body-custom">
          <div class="row">
            <div class="col-md-12">{jobfair_description}</div>
            <div class="col-md-12 text-center mt-5">{jobfair-video}</div>
          </div>

          <div class="row mt-5">
            <div class="col-md-9">
              <h3 class="mb-2">Venue Details</h3>
              <p>{jobfair_venue}</p>
            </div>
            <div class="col-md-12">{jobfair-map-url}</div>
          </div>
        </div>
      </div>

      <div class="1card 1card-custom">
        <div class="1card-header 1card-header-custom mb-3">
          <h3>Jobs</h3>
        </div>
        <div class="1card-body 1card-body-custom">{JOB_DISPLAY}</div>
        <div class="1card-footer text-center mt-5">{VIEW_ALL_JOBS}</div>
      </div>
    </div>
  </div>
</div>
</div>

{FOOTER_HTML}
