{HEADER_HTML}
{HEADER_MIDDLE_HTML}
 </td>
</tr>
<script>
function print_page()
{
 window.open("","myNewWin","width=600,height=500,toolbar=0,resizable=1,scrollbars=1");
 var a = window.setTimeout("document.checkout_confirmation1.submit();",500);
}
</script>
<!-- Below Script for auto close -->
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" );
        // $messageStackSuccess
       });
   }, 50000););
</script>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
			<div class="row">
				<div class="col-md-12">
					<h1 class="main-heading">{HEADING_TITLE}</h1>
				</div>
			</div>
		<!-- Below Alert message File path is class/message_stack.php -->
		{update_message}
            <div class="card card-custom">
                <div class="card-body card-body-custom">
				
				<div class="row">

					<div class="col-md-12">
						<div class="1card mb-3">
						<!-- <h5 class="card-header fw-bold text-dark">{HEADING_PRODUCTS}</h5> -->
						  <div class="1card-body">
							<div class="card-text text-dark fw-bold">{product_name}</div>
							<div class="card-text">{product_fee}</div>
							<div class="card-text">{order_total_string}</div>
						  </div>
						</div>
						</div>


					<div class="col-md-6">
						<div class="1card mb-3">
						<h5 class="1card-header fw-bold text-dark">{HEADING_PAYMENT_METHOD}</h5>
						  <div class="1card-body">
							<div class="card-text">{HEADING_PAYMENT_METHOD1}</div>
							<div class="card-text">{HEADING_PAYMENT_INFORMATION}</div>
							<div class="card-text">{HEADING_PAYMENT_INFORMATION1}</div>
							<div class="card-text">{HEADING_PAYMENT_INFORMATION2}</div>
							<div class="card-text"></div>
						  </div>
						</div>
						</div>


				<div class="col-md-6">
				<div class="1card mb-3">
				<h5 class="1card-header fw-bold text-dark">{HEADING_BILLING_INFORMATION}</h5>
				  <div class="1card-body">
					<div class="card-text">{HEADING_BILLING_ADDRESS}</div>
					<div class="card-text">{HEADING_BILLING_ADDRESS1}</div>
				  </div>
				</div>
				</div>
				

				<div class="col-md-12">
				<div class="1card mb-3">
				<h5 class="1card-header fw-bold text-dark">{HEADING_ORDER_COMMENTS}</h5>
				  <div class="1card-body">
					<p class="card-text">{HEADING_ORDER_COMMENTS1}</p>
				  </div>
				</div>
				</div>
				
				<div class="col-md-12 mt-3 d-flex align-items-center">
							{gift_error}
							{form}
							{button} {process_buttons}
							</form>
							{form1}
							{button_print}
				</div>
				
				</div>
                </div>
				
				
            </div>
        </div>
    </div>
</div>				
				

{FOOTER_HTML}
