{HEADER_HTML}
{HEADER_MIDDLE_HTML}
 </td>
</tr>
<script language="javascript">
// <!--
var selected;

function selectRowEffect(object, buttonSelect) {
  if (!selected) {
    if (document.getElementById) {
      selected = document.getElementById('defaultSelected');
    } else {
      selected = document.all['defaultSelected'];
    }
  }

  if (selected) selected.className = 'moduleRow';
  object.className = 'moduleRowSelected';
  selected = object;

// one button is not an array
  if (document.checkout_payment.payment[0]) {
    document.checkout_payment.payment[buttonSelect].checked=true;
  } else {
    document.checkout_payment.payment.checked=true;
  }
}

function rowOverEffect(object) {
  if (object.className == 'moduleRow') object.className = 'moduleRowOver';
}

function rowOutEffect(object) {
  if (object.className == 'moduleRowOver') object.className = 'moduleRow';
}
//--></script>
<!-- Below Script for auto close -->
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" );
        // $messageStackSuccess
       });
   }, 50000);
</script>
{javascript_validation}

<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
			<div class="row">
				<div class="col-md-12">
					<h1 class="main-heading">{HEADING_TITLE}</h1>
				</div>
			</div>
		<!-- Below Alert message File path is class/message_stack.php -->
		{error_message}
            <div class="card card-custom">
                <div class="card-body card-body-custom">
				{gift_error}
				{form}
				
				<div class="row g-4">
					<div class="col-md-12">
						<table class="table">
							<thead>
							  <tr>
								<th scope="col">Product Name</th>
								<th scope="col">Price</th>
 							  </tr>
							</thead>
							<tbody>
							  <tr>
								<td>{product_name}</td>
								<td>{product_fee}</td>
 							   </tr>
								{order_total_string}
							</tbody>
						  </table>

					</div>


				<div class="col-md-6">
				<h5 class="text-dark">Billing Address</h5>
					<p class="card-text">{TITLE_BILLING_ADDRESS1}</p>
				</div>
				
			
				<div class="col-md-6">
				<h5 class="text-dark">{TABLE_HEADING_PAYMENT_METHOD}</h5>
					<p class="card-text">{TABLE_HEADING_PAYMENT_METHOD1}</p>
					<p class="card-text">{INFO_TEXT_AMOUNT_DUE}</p>
					<table class="table table-hover">
																					<!-- BEGIN payment -->
																					<tr{payment.row_selected}>
																						<td valign="top" class="dataTableContent" align="right" width="10%">{payment.radio_1}</td>
																						<td><img src="img/spacer.gif" width="5" height="2"></td>
																						<td valign="top" class="jobseeker_1">{payment.module_name}</td>
																					</tr>
																					<tr>
																						<td valign="top">
																							<table border="0" cellspacing="3" cellpadding="0">
																							{payment.payment_field_name_value}
																							</table>
																						</td>
																					</tr>
																					<!-- END payment -->
																				</table>
					<p class="card-text small">{TITLE_CONTINUE_CHECKOUT_PROCEDURE}</p>
				</div>
				
				<div class="col-md-12">
				<h5 class="text-dark m-0">{TABLE_HEADING_COMMENTS}</h5>
					<div class="small mb-2">{TABLE_HEADING_PAYMENT_METHOD1}</div>
					<div>{TABLE_HEADING_COMMENTS1}</div>
				</div>
			
			<div class="col-md-12 mt-3 text-center">{button}</div>
			</div>	
                </div>
            </div>
        </div>
    </div>
</div>

{hidden_fields}
        </form>
							
{FOOTER_HTML}
