<table border="0" bgColor="#cccccc" align="center" width="90%" cellPadding="0" cellSpacing="1">
 <tbody>
  <tr>
   <td bgColor="#ffffff">
   <table align="center" width="100%" cellPadding="2" cellSpacing="2">
    <tbody>
     <tr>
      <td bgColor="#efefef">
      <p><font size="2"><strong> </strong>{logo}<br />
      </font><font size="2"><strong>{site_title}</strong></font></p>
      </td>
     </tr>
     <tr>
      <td height="83" bgColor="#f7f7f7" align="center">
      <table border="0" bgColor="#ffffff" width="90%" cellPadding="0" cellSpacing="1">
       <tbody>
        <tr bgColor="#f7f7f7">
         <td bgColor="#f7f7f7" width="20%"><font size="2">Order Number</font></td>
         <td><font size="2">{order_no}</font></td>
        </tr>
        <tr bgColor="#f7f7f7">
         <td><font size="2">Detailed Invoice</font></td>
         <td><font size="2">{order_invoice}</font></td>
        </tr>
        <tr bgColor="#f7f7f7">
         <td><font size="2">Date Ordered</font></td>
         <td><font size="2">{order_date}</font></td>
        </tr>
        <tr bgColor="#f7f7f7">
         <td><font size="2">Order Status</font></td>
         <td><font size="2">{order_status}</font></td>
        </tr>
       </tbody>
      </table>
      </td>
     </tr>
     <tr>
      <td bgColor="#f7f7f7"><font size="2">{user_comment}</font></td>
     </tr>
     <tr>
      <td bgColor="#efefef"><font size="2"><strong>Product</strong></font></td>
     </tr>
     <tr>
      <td bgColor="#f7f7f7"><font size="2">{product_detail}</font></td>
     </tr>
     <tr>
      <td bgColor="#f7f7f7"><font size="2">{order_detail}</font></td>
     </tr>
     <tr>
      <td bgColor="#efefef"><strong><font size="2">Billing
      Address</font></strong></td>
     </tr>
     <tr>
      <td bgColor="#f7f7f7"><font size="2">{billing_address}</font></td>
     </tr>
     <tr>
      <td bgColor="#efefef"><strong><font size="2">Payment
      Method</font></strong></td>
     </tr>
     <tr>
      <td bgColor="#f7f7f7"><font size="2">{payment_method_detail}</font></td>
     </tr>
     <tr>
      <td bgColor="#f7f7f7"> </td>
     </tr>
    </tbody>
   </table>
   </td>
  </tr>
 </tbody>
</table>