{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
	<div class="row g-5">
			<!-- Left Starts -->
			{LEFT_HTML}
			<!-- Left Ends -->
		<!-- Middle Starts -->
		<div class="col-md-9">
		{update_message}
			<div class="card">
				<div class="card-header">
				<div class="d-flex alignitems-center">
				<div>
					<h1 class="main-heading">{HEADING_TITLE}</h1>
				</div>
					<div class="d-flex ms-auto">{INFO_TEXT_BACK} {INFO_TEXT_REPLY}</div>
				</div>
				</div>
				<div class="card-body">
					<div class="mb-4">
						<div class="fw-bold">{INFO_TEXT_SUBJECT} {INFO_TEXT_SUBJECT1}</div>

					</div>
					<div class="">
						<div class="fw-bold">{INFO_TEXT_MESSAGE}</div>
						<div>{INFO_TEXT_MESSAGE1}</div>

					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- Right Starts -->
	{RIGHT_HTML}
	<!-- Right ends -->
</div>
</div>
{FOOTER_HTML}