{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="align-items-center mb-4">
                <h1 class="m-0 fw-bold" style="font-size: 36px;">Problem Solving Techniques</h1>
            </div>
            <div class="course-video mb-5">
                <iframe width="100%" height="375" src="https://www.youtube.com/embed/uvw8YUG0p38"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>

            <div class="mb-5">
                <h3 class="fw-bold mb-3">About This Course</h3>
                <p>We’re naturally faced with problems in the workplace on a daily basis. Many times, they are not major
                    issues but without a method for solving your problems, your issues can fester and even cause
                    businesses to come to a screaming halt.</p>

                <p>In this course, you’ll learn a proven process for breaking down your problem and finding innovative
                    solutions that allow you to move forward confidently and avoid similar issues in the future. You’ll
                    also learn powerful tools to apply to your problem so that you can address them when they come up no
                    matter what circumstances you find yourself in. </p>
            </div>
        </div>
        <div class="col-md-4">

            <!-- Collapese Start -->
            <section id="info-utile" class="bg-white">
                <div class="container">
                    <h3 class="lead-h-text mb-3">Course content</h3>
                    <h5 class="lead-h-text">Lessions</h5>

                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingOne">
                                <button class="accordion-button py-2 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                    <div class="fw-bold" style="font-size:12px;color:#d11818;">Section 1</div>
                                    <div class="section-title">Introduction</div>
                                </button>

                            </div>

                            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                1</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                2</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                3</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                4</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                1</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingTwo">
                                <button class="accordion-button py-2 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    <div class="fw-bold" style="font-size:12px;color:#d11818;">Section 2</div>
                                    <div class="section-title">These classes can also be added to groups of links</div>
                                </button>
                            </div>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                1</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                2</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                3</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                4</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                1</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <div class="accordion-header" id="headingThree">
                                <button class="accordion-button py-2 collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    <div class="fw-bold" style="font-size:12px;color:#d11818;">Section 3</div>
                                    <div class="section-title">Group a series of buttons together on a single line</div>
                                </button>
                            </div>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                1</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                2</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                3</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                4</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                    <!-- Lession -->
                                    <div class="mb-4">
                                        <div class="lession-title"><i class="bi bi-play-circle"></i> <a href="#">Lession
                                                1</a></div>
                                        <div class="lession-duration"><i class="bi bi-clock"></i> 12 Minutes</div>
                                    </div>
                                    <!--End Lession -->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </section>
            <!-- Collapese End -->

        </div>
    </div>


</div>


{FOOTER_HTML}