{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<script src="{INFO_TEXT_JSCRIPT_FILE}"></script>
<!-- Below Script for auto close -->
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
            $(".messageStackSuccess").addClass("displayNone");
        });
    }, 50000);
</script>
<div class="container">
    <div class="row">
        <!-- Left Starts -->
        {LEFT_HTML}
        <!-- Left Ends -->

        <div class="col-md-9 mx-auto">
            <!-- Below Alert message File path is class/message_stack.php -->
            {update_message}
            <div class="card card-custom">
                <div class="card-header">
                    <div class="col-md-12">
                        <h1 class="main-heading">{HEADING_TITLE}</h1>
                    </div>
                </div>
                <div class="card-body card-body-custom">

                    {user_form}
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">
                            {INFO_TEXT_FULL_NAME}
                        </label>
                        <div class="col-sm-9">
                            {INFO_TEXT_FULL_NAME1}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">
                            {INFO_TEXT_EMAIL_ADDRESS}
                        </label>
                        <div class="col-sm-9">
                            {INFO_TEXT_EMAIL_ADDRESS1}
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">
                            {INFO_TEXT_CONFIRM_EMAIL_ADDRESS}
                        </label>
                        <div class="col-sm-9">
                            {INFO_TEXT_CONFIRM_EMAIL_ADDRESS1}
                        </div>
                    </div>

                    {password_data}
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">

                        </label>
                        <div class="col-sm-9">
                            {user_button}
                        </div>
                    </div>



                </div>
            </div>

            <div class="card card-custom mt-3">
                <div class="card-header card-header-custom">
                    <h4 class=""> {HEADING_TITLE1}</h4>
                </div>
                <div class="card-body card-body-custom p-0">
                    <table class="table table-hover">
                        <tr class="jobs-table-headbar">
                            <td>{TABLE_HEADING_NAME}</td>
                            <!-- <td class="m-none">{TABLE_HEADING_EMAIL_ADDRESS}</td> -->
                            <td>{TABLE_HEADING_NUMBER_OF_JOBS}</td>
                            <td class="m-none">{TABLE_HEADING_INSERTED}</td>
                            <td>{TABLE_HEADING_CHANGE_PASSWORD}</td>
                            <td>{TABLE_HEADING_STATUS}</td>
                        </tr>
                        <!-- BEGIN users -->
                        <tr {users.row_selected}>
                            <td>
                                <div>{users.name}</div>
                                <div>{users.email_address}</div>
                            </td>
                            <td class="m-none">{users.no_of_jobs}</td>
                            <td class="m-none">{users.inserted}</td>
                            <td>{users.change_password}</td>
                            <td>{users.status}</td>
                        </tr>
                        <!-- END users -->
                    </table>
                    <table border="0" width="100%" cellspacing="0" cellpadding="2">
                        <tr>
                            <td>{count_rows}</td>
                            <td align="right">{no_of_pages}</td>
                        </tr>
                        <tr>
                            <td colspan="2" align="right">{new_button}</td>
                        </tr>
                    </table>

                    <!-- Middle Ends -->
                    <!-- Right Starts -->

                    <!-- Right ends -->

                </div>
            </div>
        </div>
    </div>
</div>

{FOOTER_HTML}