{HEADER_HTML}
{HEADER_MIDDLE_HTML}
 </td>
</tr>
<script language="JavaScript">
<!--
function set_action(application)
{
 document.page.application_id.value=application;
 {lower_value}
 {higher_value}
 document.page.submit();
}
function set_action2(application,action)
{
 if(application!='' && action!='') 
 {
  document.page.application_id.value=application;
  document.page.action1.value=action;
  {lower_value}
  {higher_value}
  document.page.submit();
 }
}
function select_action1()
{
	var check;
	var j=0;
 check=false;
	for (var i=0;i < document.page.elements.length;i++)
	{
		var e = document.page.elements[i];
		if(e.type == "checkbox")
		{
			if((e.checked) == true)
			{
   	check=true;    
				break;
			}
		}
	}
 if(check)
 {
  if(document.page.quick_action.options[document.page.quick_action.selectedIndex].value!="") 
  {
   document.page.action1.value=document.page.quick_action.options[document.page.quick_action.selectedIndex].value;
   {lower_value}
   {higher_value}
   document.page.submit();
  }
  else
  return false;
 }
 else
 {
	 document.page.quick_action.value='';
  alert('Please check atleast one checkbox.');
 } 
}
//-->
</script>
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" );
        // $messageStackSuccess
       });
   }, 50000););
</script>
<div class="container">
    <div class="row">
		<!-- <div class="col-md-2 small-font">
			<div class="list-group mb-4">
				<button type="button" class="list-group-item list-group-item-action info-bg font-weight-bold">
					//{INFO_TEXT_JOB_TITLE}{INFO_TEXT_JOB_TITLE1}//
				</button>
				<div>{INFO_TEXT_ALL_APPLICANT}</div>
				<div>{INFO_TEXT_SELECTED_APPLICANT}</div>
				<div>{INFO_TEXT_SEARCH_APPLICANT}</div>
				<div>{INFO_TEXT_JOB_DETAIL}</div>
				<div>{INFO_TEXT_ADD_APPLICANT}</div>
			</div>

			<div class="list-group mb-4">
				<button type="button" class="list-group-item list-group-item-action info-bg font-weight-bold">
					{INFO_TEXT_REPORTS}
				</button>
				<div>{INFO_TEXT_REPORT_PIPELINE}</div>
				<div>{INFO_TEXT_REPORT_ROUNDWISE}</div>
				<div>{INFO_TEXT_REPORT_ROUNDWISE_SUMMARY}</div>
				<div>{INFO_TEXT_VIEW_DATE_REPORT}</div>
			</div>
		</div> -->
		
		<div class="col-md-3 small-font">
			<div class="card card-custom">
				<div class="card-body card-body-custom p-0">
					{RIGHT_DESIGN1}
				</div>
			</div> 
		</div>
		
        <div class="col-md-9">
		<!-- Below Alert message File path is class/message_stack.php -->
		{update_message}
            <div class="card card-custom">
			<div class="card-header">
			<div class="col-md-12 d-flex align-items-center mb-3">
					<h1 class="m-0">{HEADING_TITLE}</h1>
					<div class="d-flex ms-auto">{INFO_TEXT_BACK}</div>
				</div>
			</div>
                <div class="card-header">
					<div class="row">
						{form}
						<div class="col-sm-12 d-flex align-items-center">
								<div class="d-flex">
									<!-- {INFO_TEXT_JOIN_STATUS}--> {INFO_TEXT_JOIN_STATUS1} 
								</div>
								<div class="d-flex ms-auto">{quick_action}</div>
						</div>
					</div>
                </div>
                <div class="card-body card-body-custom p-0">
				<div class="py-2 px-3 float-left small mt-2">{check_link} {check_link1} </div>
				
			
			<table class="table table-hover">
               <thead>
			   <tr class="dataTableHeadingRow">
                <th class="dataTableHeadingContent">#</th>
                <th class="dataTableHeadingContent">{TABLE_HEADING_APPLICATION_NO}</th>
                <th class="dataTableHeadingContent">{TABLE_HEADING_NAME}</th>
                <th class="dataTableHeadingContent">{TABLE_HEADING_INSERTED}</th>
                <th class="dataTableHeadingContent">{TABLE_HEADING_STATUS}</th>
                <th class="dataTableHeadingContent">Action</th>
               </tr>
			   </thead>
               <!-- BEGIN applicant -->
               <tr{applicant.row_selected}>
                <td valign="top" class="dataTableContent" width="15">{applicant.check_box}</td>
                <td valign="top" class="dataTableContent">{applicant.application_id}</td>
                <td valign="top" class="dataTableContent">{applicant.name}</td>
                <td valign="top" class="dataTableContent">{applicant.inserted}</td>
                <td valign="top" class="dataTableContent">{applicant.status}</td>
                <td valign="top" class="dataTableContent">{applicant.action_image}</td>
               </tr>
               <!-- END applicant -->
            </table>
			
				</div>
				
				<div class="card-footer">
				<div class="float-left small">{total}</div>
				<div class="float-right">{list_page}&nbsp;{page}</div>
				<div>{hidden_fields}</div>
                </form>
				
				</div>
			</div>	
		</div>
</div>
</div>


{FOOTER_HTML}
