{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
    <div class="row mb-4">
        <div class="col-md-12 d-flex align-items-center">
            <div class=""><span class="me-2">Courses</span> <span class="me-2">></span> <span><a class="text-dark"
                        href="#">Business</a></span></div>
            <div class="ms-auto d-flex">
                <select name="process_round" class="form-select" onchange="this.form.submit()">
                    <option value="" selected="">All Courses</option>
                    <option value="1">Marketing</option>
                    <option value="3">Graphic Design</option>
                    <option value="2">Website</option>
                    <option value="4">Writing</option>
                    <option value="5">Business</option>
                    <option value="6">Video & Photography</option>
                    <option value="7">Programs</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="align-items-center mb-4">
                <h1 class="m-0 fw-bold" style="font-size: 36px;">Problem Solving Techniques</h1>
                <p class="d-flex" style="font-size: 18px;">Learn how to identify, analyze, break down and solve your
                    workplace problems with simple techniques</p>
                <div class="d-flex align-items-center">
                    <div class="me-3 fw-bold" style="font-size: 16px;"><i class="bi bi-play-btn text-success"></i> 22
                        videos</div>
                    <div class="fw-bold" style="font-size: 16px;"><i class="bi bi-clock text-success"></i> 0.6 Hours
                    </div>
                </div>
            </div>
            <div class="mb-5">
                <img src="https://bpojobsite.com/img/course1.jpg" class="img-fluid rounded" alt="...">
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="d-flex align-items-center mb-5">
                        <div><img src="https://bpojobsite.com/img/author9.jpg" class="instructor-img-lg me-3" alt="..."></div>
                        <div class="">
                            <div class="fw-bold" style="font-size: 16px;">By <a href="#">Beatriz Datangel</a></div>
                            <div>Top-rated Fiverr Pro copywriter who has helped 10k+ businesses tell their stories and make an
                                impact. </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="fw-bold" style="font-size: 16px;">Offered By:</div>
                    <div class="d-flex align-items-center mb-5">
                        <div>
                            <img src="https://bpojobsite.com/img/company4.png" class="instructor-img-sm me-2" alt="..."></div>
                        <div class="">
                            <div><a href="#">Ejobsitesoftware</a></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <h3 class="fw-bold mb-3">About This Course</h3>
                <p>We’re naturally faced with problems in the workplace on a daily basis. Many times, they are not major
                    issues but without a method for solving your problems, your issues can fester and even cause
                    businesses to come to a screaming halt.</p>

                <p>In this course, you’ll learn a proven process for breaking down your problem and finding innovative
                    solutions that allow you to move forward confidently and avoid similar issues in the future. You’ll
                    also learn powerful tools to apply to your problem so that you can address them when they come up no
                    matter what circumstances you find yourself in. </p>
            </div>

            <div class="mb-5">
                <h3 class="fw-bold mb-3">What You Will Learn</h3>
                <ul style="font-size: 1rem;font-weight: 500;list-style-type: disclosure-closed;margin: 0 0 0 21px;">
                    <li>How to look at your problem from a higher level</li>
                    <li>How to avoid analysis paralysis</li>
                    <li>How to use a fishbone diagram and mind map to understand cause and effect</li>
                    <li>To control how you react and perceive a situation</li>
                    <li>How to deal with fear-related problems</li>
                    <li>How to problem-solve using the simple A3 method</li>
                    <li>How to find the start and end points when implementing a solution</li>
                    <li>How to measure your solution and track your progress</li>
                    <li>How and when to ask for help when problem solving</li>

                </ul>

            </div>

        </div>
        <div class="col-md-4">
            <div class="card card-custom mb-5">
                <div class="card-body">
                    <h3 class="fw-bold mb-4">Free</h3>
                    <a class="btn btn-lg py-2 btn-outline-primary btn-100" href=""><i class="bi bi-play-fill"></i> Free
                        Preview</a>
                </div>
            </div>
            <div class="card card-custom mb-5">
                <div class="card-body">
                    <h3 class="fw-bold mb-4">Course Syllabus </h3>

                    <div class="mb-4">
                        <p class="text-success fw-bold mb-2">Chapter 1</p>
                        <h4>Chapter 1: Problems are everywhere</h4>
                        <ul style="font-size: 1rem;font-weight: 500;list-style-type:auto;margin: 0 0 0 21px;">
                            <li>Identifying your problem Free</li>
                            <li> Breaking your problem down</li>
                            <li> Moving from problems to statements Quiz Chapter 1</li>
                        </ul>
                    </div>
                    <div class="mb-4">
                        <p class="text-success fw-bold mb-2">Chapter 2</p>
                        <h4>Chapter 2: Problems are everywhere</h4>
                        <ul style="font-size: 1rem;font-weight: 500;list-style-type:auto;margin: 0 0 0 21px;">
                            <li>Identifying your problem Free</li>
                            <li> Breaking your problem down</li>
                            <li> Moving from problems to statements Quiz Chapter 1</li>
                        </ul>
                    </div>

                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="d-flex align-items-center">
                <div class="fw-bold me-3">Share on:</div>
                <div class="d-flex">
                    <ul class="social-network social-circle">
                        <li>
                            <a href="https://www.facebook.com/ejobsitesoftware/
                               " class="icoFacebook" title="Facebook"><i class="bi bi-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/ejobsitesoftware/
                               " class="icoLinkedin" title="Linkedin"><i class="bi bi-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.twitter/ejobsitesoftware/
                               " class="icoTwitter" title="Twitter"><i class="bi bi-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/ejobsitesoftware/
                               " class="icoGoogle-plus" title="Google-plus"><i class="bi bi-google"></i>
                            </a>
                        </li>
                        <li><a href="https://bpojobsite.com/industry_rss.php" class="icoRss" title="Rss"><i
                                    class="bi bi-rss-fill"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>


{FOOTER_HTML}