{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
    <div class="row">
        <div class="col-md-10 mx-auto d-flex align-items-center mb-4">
            <h1 class="m-0">All Courses</h1>
            <div class="ms-auto d-flex">
                <select name="process_round" class="form-select" onchange="this.form.submit()">
                    <option value="" selected="">All Courses</option>
                    <option value="1">Marketing</option>
                    <option value="3">Graphic Design</option>
                    <option value="2">Website</option>
                    <option value="4">Writing</option>
                    <option value="5">Business</option>
                    <option value="6">Video & Photography</option>
                    <option value="7">Programs</option>
                </select>
            </div>
            <div class="ms-auto d-flex">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="What do you want to learn?" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <button class="btn btn-success" type="button" id="button-addon2"><i class="bi bi-search"></i> Search</button>
                  </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <!--do not remove or edit blow comment-->
            <!--START_FILE_EDIT_CONTENT-->
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card card-custom">
                    <img src="https://bpojobsite.com/img/course1.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title"><a href="https://bpojobsite.com/lms-preview.php">SEO Copywriting: Optimize Your Website Copy</a></h4>
                      <div class="mb-2 small">Product Management, Product Marketing and Growth expert, specializing in B2B startups.</div>
                        <div class="d-flex align-items-center mt-2">
                          <img src="https://bpojobsite.com/img/author1.jpg" class="instructor-img-sm me-2" alt="...">
                          <div class="d-flex"><a href="#">by Beatriz Datangel</a></div>
                        </div>
                        <div class="d-flex align-items-center mt-2">
                          <h3 class="fw-bold">Free</h3>
                          <div class="ms-auto d-flex align-items-center">
                            <i class="bi bi-clock text-success me-2"></i>
                            1.5 Hours
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-custom">
                    <img src="https://bpojobsite.com/img/course2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title"><a href="#">Working Remotely: Maximize Organization...</a></h4>
                      <div class="mb-2 small">Consultant, speaker & professional organizer with 15+ years of teaching experience...</div>
                      <div class="d-flex align-items-center mt-2">
                        <img src="https://bpojobsite.com/img/author2.jpg" class="instructor-img-sm me-2" alt="...">
                        <div class="d-flex"><a href="#">by Beatriz Datangel</a></div>
                      </div>
                      <div class="d-flex align-items-center mt-2">
                        <h3 class="fw-bold">Free</h3>
                        <div class="ms-auto d-flex align-items-center">
                          <i class="bi bi-clock text-success me-2"></i>
                          1.5 Hours
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-custom">
                    <img src="https://bpojobsite.com/img/course3.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title"><a href="#">Growing Your Business With Startup Strategies</a></h4>
                      <div class="mb-2 small">Qualified journalist and copywriter. Helping brands connect with today’s consumers and...</div>
                      <div class="d-flex align-items-center mt-2">
                        <img src="https://bpojobsite.com/img/author3.jpg" class="instructor-img-sm me-2" alt="...">
                        <div class="d-flex"><a href="#">by Beatriz Datangel</a></div>
                      </div>
                      <div class="d-flex align-items-center mt-2">
                        <h3 class="fw-bold">Free</h3>
                        <div class="ms-auto d-flex align-items-center">
                          <i class="bi bi-clock text-success me-2"></i>
                          1.5 Hours
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-custom">
                    <img src="https://bpojobsite.com/img/course4.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title"><a href="#">SEO Copywriting: Optimize Your Website Copy</a></h4>
                      <div class="mb-2 small">Product Management, Product Marketing and Growth expert, specializing in B2B startups.</div>
                      <div class="d-flex align-items-center mt-2">
                        <img src="https://bpojobsite.com/img/author4.jpg" class="instructor-img-sm me-2" alt="...">
                        <div class="d-flex"><a href="#">by Beatriz Datangel</a></div>
                      </div>
                      <div class="d-flex align-items-center mt-2">
                        <h3 class="fw-bold">Free</h3>
                        <div class="ms-auto d-flex align-items-center">
                          <i class="bi bi-clock text-success me-2"></i>
                          1.5 Hours
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-custom">
                    <img src="https://bpojobsite.com/img/course5.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title"><a href="#">Working Remotely: Maximize Organization...</a></h4>
                      <div class="mb-2 small">Consultant, speaker & professional organizer with 15+ years of teaching experience...</div>
                      <div class="d-flex align-items-center mt-2">
                        <img src="https://bpojobsite.com/img/author5.jpg" class="instructor-img-sm me-2" alt="...">
                        <div class="d-flex"><a href="#">by Beatriz Datangel</a></div>
                      </div>
                      <div class="d-flex align-items-center mt-2">
                        <h3 class="fw-bold">Free</h3>
                        <div class="ms-auto d-flex align-items-center">
                          <i class="bi bi-clock text-success me-2"></i>
                          1.5 Hours
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-custom">
                    <img src="https://bpojobsite.com/img/course6.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title"><a href="#">Growing Your Business With Startup Strategies</a></h4>
                      <div class="mb-2 small">Qualified journalist and copywriter. Helping brands connect with today’s consumers and...</div>
                      <div class="d-flex align-items-center mt-2">
                        <img src="https://bpojobsite.com/img/author6.jpg" class="instructor-img-sm me-2" alt="...">
                        <div class="d-flex"><a href="#">by Beatriz Datangel</a></div>
                      </div>
                      <div class="d-flex align-items-center mt-2">
                        <h3 class="fw-bold">Free</h3>
                        <div class="ms-auto d-flex align-items-center">
                          <i class="bi bi-clock text-success me-2"></i>
                          1.5 Hours
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-custom">
                    <img src="https://bpojobsite.com/img/course7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title"><a href="#">SEO Copywriting: Optimize Your Website Copy</a></h4>
                      <div class="mb-2 small">Product Management, Product Marketing and Growth expert, specializing in B2B startups.</div>
                      <div class="d-flex align-items-center mt-2">
                        <img src="https://bpojobsite.com/img/author7.jpg" class="instructor-img-sm me-2" alt="...">
                        <div class="d-flex"><a href="#">by Beatriz Datangel</a></div>
                      </div>
                      <div class="d-flex align-items-center mt-2">
                        <h3 class="fw-bold">Free</h3>
                        <div class="ms-auto d-flex align-items-center">
                          <i class="bi bi-clock text-success me-2"></i>
                          1.5 Hours
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-custom">
                    <img src="https://bpojobsite.com/img/course8.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title"><a href="#">Working Remotely: Maximize Organization...</a></h4>
                      <div class="mb-2 small">Consultant, speaker & professional organizer with 15+ years of teaching experience...</div>
                      <div class="d-flex align-items-center mt-2">
                        <img src="https://bpojobsite.com/img/author8.jpg" class="instructor-img-sm me-2" alt="...">
                        <div class="d-flex"><a href="#">by Beatriz Datangel</a></div>
                      </div>
                      <div class="d-flex align-items-center mt-2">
                        <h3 class="fw-bold">Free</h3>
                        <div class="ms-auto d-flex align-items-center">
                          <i class="bi bi-clock text-success me-2"></i>
                          1.5 Hours
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card card-custom">
                    <img src="https://bpojobsite.com/img/course9.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h4 class="card-title"><a href="#">Growing Your Business With Startup Strategies</a></h4>
                      <div class="mb-2 small">Qualified journalist and copywriter. Helping brands connect with today’s consumers and...</div>
                      <div class="d-flex align-items-center mt-2">
                        <img src="https://bpojobsite.com/img/author9.jpg" class="instructor-img-sm me-2" alt="...">
                        <div class="d-flex"><a href="#">by Beatriz Datangel</a></div>
                      </div>
                      <div class="d-flex align-items-center mt-2">
                        <h3 class="fw-bold">Free</h3>
                        <div class="ms-auto d-flex align-items-center">
                          <i class="bi bi-clock text-success me-2"></i>
                          1.5 Hours
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <!--END_FILE_EDIT_CONTENT-->
            <!--do not remove above comment line-->
        </div>
    </div>
</div>


{FOOTER_HTML}