{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<style>
    .displayNone {
        display: none;
    }
</style>
<script>
    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
            $(".messageStackSuccess").addClass("displayNone"

            );
            // $messageStackSuccess
        });
    }, 50000);
</script>

<div class="container">
    <div class="row">
        <!-- Left Starts -->
        {LEFT_HTML}
        <!-- Left Ends -->
        <div class="col-md-9 mx-auto">

            {update_message}
            <div class="card card-custom">
                <div class="card-header">
                    <div class="col-md-12">
                        <h1 class="main-heading">{HEADING_TITLE}</h1>
                    </div>
                </div>
                <div class="card-body card-body-custom p-0">
                    <div class="table-responsive-sm">
                        <form method="post" name="page">
                            <table class="table table-hover">

                                <thead>
                                    <tr class="dataTableHeadingRow jobs-table-headbar">
                                        <th class="" width="400">{TABLE_HEADING_JOB_TITLE}</th>
                                        <!-- <td class="m-none">{TABLE_HEADING_APPLIED_FOR}</td> -->
                                        <th class="m-none">{TABLE_HEADING_JOB_INSERTED}</th>
                                        <th class="">{TABLE_HEADING_APPLICATION_INSERTED}</th>
                                        <th class=""><span class="m-none">{TABLE_HEADING_APPLICATION_DELETE}</span></th>
                                    </tr>
                                </thead>

                                <!-- BEGIN applications -->
                                <tbody>
                                    <tr{applications.row_selected}>
                                        <td valign="top" class="dataTableContent">
                                            <div class="fw-bold">{applications.title}</div>
                                            <div class="text-muted">{applications.applied_for}</div>
                                        </td>
                                        <td valign="top" class="dataTableContent m-none">{applications.inserted}</td>
                                        <td valign="top" class="dataTableContent">{applications.application_inserted}
                                        </td>
                                        <td valign="top" class="dataTableContent">{applications.application_delete}</td>
                                        </tr>
                                <tbody>
                                    <!-- END applications -->


                        </form>


                        {hidden_fields}
                        </table>
                    </div>
                </div>

                <div class="card-footer p-2 small">
                    <span class="float-left">{total}</span> <span
                        class="float-right text-right">{list_page}&nbsp;{page}</span>
                </div>
            </div>
        </div>
    </div>
</div>

{FOOTER_HTML}