<!-- Left Starts -->
<link rel="stylesheet" type="text/css" href="css/stylesheet.css">
<title>Cover letter</title>
<table border="0" width="100%" cellspacing="0" cellpadding="2">
 <tr>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
			   <table border="0" width="99%" cellspacing="1" cellpadding="2" class="infoBox" align="center">
				   <tr bgcolor="FFFFFF">
					   <td valign="top" height="250">
         <table border="0" width="100%" cellspacing="0" cellpadding="10">
          <tr>
           <td class="pageHeading" align="middle">{HEADING_TITLE}</td>
          </tr>
         </table>
         <table border="0" width="100%" cellspacing="3" cellpadding="0">
          <tr>
           <td valign="top">
           {update_message}
            <body>
            <table border="0" cellpadding="0" cellspacing="0">
             <tr>
              <td valign="top"><br>
               <table width="100%"  border="0" cellpadding="0" cellspacing="0">
                <tr>
                 <td valign="top">
                  <table width="100%" border="0" cellpadding="10" cellspacing="0">
                   <tr>
                    <td>{INFO_TEXT_COVER_LETTER}</td>
                   </tr>
                   <tr>
                    <td align="middle">[ <a href="javascript:window.close();">{INFO_TEXT_CLOSE}</a> ]</td>
                   </tr>
                  </table>
                 </td>
                 </form>
                </tr>
               </table>
              </td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </td>
<!-- Middle Ends -->
<!-- Right Starts -->
 </tr>
</table>
<!-- Right Ends -->
{FOOTER_HTML}