{HEADER_HTML}
{HEADER_MIDDLE_HTML}
</td>
</tr>
<script language="JavaScript">
<!--
    function set_action(action) {
      document.preview_mail.action.value = action;
      document.preview_mail.submit();
    }
//-->
</script>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group mb-4">
        <button type="button" class="list-group-item list-group-item-action info-bg font-weight-bold">
          {INFO_TEXT_JOB_TITLE}
        </button>
        <div>{INFO_TEXT_ALL_APPLICANT}</div>
        <div>{INFO_TEXT_SELECTED_APPLICANT}</div>
        <div>{INFO_TEXT_SEARCH_APPLICANT}</div>
        <div>{INFO_TEXT_JOB_DETAIL}</div>
        <div>{INFO_TEXT_ADD_APPLICANT}</div>
      </div>

      <div class="list-group mb-4">
        <button type="button" class="list-group-item list-group-item-action info-bg font-weight-bold">
          REPORTS
        </button>
        <div>{INFO_TEXT_REPORT_PIPELINE}</div>
        <div>{INFO_TEXT_REPORT_ROUNDWISE}</div>
        <div>{INFO_TEXT_REPORT_ROUNDWISE_SUMMARY}</div>
        <div>{INFO_TEXT_VIEW_DATE_REPORT}</div>
      </div>
    </div>
    <div class="col-md-9">
	
		{update_message}
		<div class="card card-custom">
			<div class="card-header card-header-custom">
                <h1 class="main-heading">{HEADING_TITLE}</h1>
            </div>
        <div class="card-body card-body-custom">
						{form}
		  <div class="form-group row">
			<label for="inputPassword" class="col-sm-2 col-form-label text-right">{INFO_TEXT_TO}</label>
			<div class="col-sm-10">
			  {INFO_TEXT_TO1}
			</div>
		  </div>
		
		  <div class="form-group row">
			<label for="inputPassword" class="col-sm-2 col-form-label text-right">{INFO_TEXT_FROM}</label>
			<div class="col-sm-10">
			  {INFO_TEXT_FROM1}
			</div>
		  </div>		

		  <div class="form-group row">
			<label for="inputPassword" class="col-sm-2 col-form-label text-right">{INFO_TEXT_SUBJECT}</label>
			<div class="col-sm-10">
			  {INFO_TEXT_SUBJECT1}
			</div>
		  </div>

		  <div class="form-group row">
			<label for="inputPassword" class="col-sm-2 col-form-label text-right">{INFO_MAIL_ATTACHMENT}</label>
			<div class="col-sm-10">
			  {INFO_MAIL_ATTACHMENT1}
			</div>
		  </div>
		  
		  <div class="form-group row">
			<label for="inputPassword" class="col-sm-2 col-form-label text-right">{INFO_TEXT_MESSAGE}</label>
			<div class="col-sm-10">
			  {INFO_TEXT_MESSAGE1}
			</div>
		  </div>
			{hidden_fields}

		  <div class="form-group row">
			<label for="inputPassword" class="col-sm-2 col-form-label text-right"></label>
			<div class="col-sm-10">
			 {buttons}
			</div>
		  </div>
		  </form>
		</div>
	</div>


    </div>
    <div class="col-md-3">
      {RIGHT_HTML}
    </div>
  </div>
</div>


{FOOTER_HTML}