{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<style>
</style>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <!--do not remove or edit blow comment-->
            <!--START_FILE_EDIT_CONTENT-->
			<div class="card card-custom">
				<div class="card-header card-header-custom border-bottom no-radius bg-transparent">
					<h1 class="">{HEADING_TITLE}</h1>
				</div>
				<div class="card-body card-body-custom">
            <p class="skeleton">{PARA_ONE}</p>
            <ul class="skeleton">
                {UL_ONE}
            </ul>
            <h3 class="fw-normal mt-4 mb-2" style="font-size: 18px;">{HEADING_ONE}</h3>
            <p class="skeleton">{PARA_TWO}</p>
            <p class="skeleton">{PARA_THREE}</p>
            <ul class="num skeleton">
                {UL_TWO}
            </ul>
            <p class="skeleton">{PARA_FOUR}</p>
            <p class="skeleton">{PARA_FIVE}</p>
            <p class="skeleton">{PARA_SIX}</p>
            <ul class="skeleton">
                {UL_THREE}
            </ul>
            <h3 class="fw-normal mt-4 mb-2" style="font-size: 18px;">{HEADING_TWO}</h3>
            <p class="skeleton">{PARA_SEVEN}</p>
            <h3 class="fw-normal mt-4 mb-2" style="font-size: 18px;">{HEADING_THREE}</h3>
            <p class="skeleton">{PARA_EIGHT}</p>
            <h3 class="fw-normal mt-4 mb-2" style="font-size: 18px;">{HEADING_FOUR}</h3>
            <p class="skeleton">{PARA_NINE}</p>
            <p class="skeleton">{PARA_TEN}</p>
            <p class="skeleton">{PARA_ELEVEN}</p>
            <p class="skeleton">{PARA_TWELVE}</p>
            <h3 class="fw-normal mt-4 mb-2 skeleton" style="font-size: 18px;">{HEADING_FIVE}</h3>
            <p class="skeleton">{PARA_THIRTEEN}</p>
            <p class="skeleton">{PARA_FOURTEEN}</p>
            <p class="skeleton">{PARA_FIFTEEN}</p>
            <h3 class="fw-normal mt-4 mb-2 skeleton" style="font-size: 18px;">{HEADING_SIX}</h3>
            <p class="skeleton">{PARA_SIXTEEN}</p>
            <h3 class="fw-normal mt-4 mb-2 skeleton" style="font-size: 18px;">{HEADING_SEVEN}</h3>
            <p class="skeleton">{PARA_SEVENTEEN}</p>
            <h3 class="fw-normal mt-4 mb-2 skeleton" style="font-size: 18px;">{HEADING_EIGHT}</h3>
            <p class="skeleton">{PARA_EIGHTEEN}</p>
            <h3 class="fw-normal mt-4 mb-2 skeleton" style="font-size: 18px;">{HEADING_NINE}</h3>
            <p class="skeleton">{PARA_NINETEEN}</p>
            <h3 class="fw-normal mt-4 mb-2 skeleton" style="font-size: 18px;">{HEADING_TEN}</h3>
            <p class="skeleton">{PARA_TWENTY}</p>
            <!--END_FILE_EDIT_CONTENT-->
            <!--do not remove above comment line-->
        </div>
    </div>
</div>
</div>
</div>
{FOOTER_HTML}