<div style="background-color: #edf0f3; font-size: 14px; color: #272727; font-weight: normal; padding: 25px 0;">
<div style="background-color: #fff; border: 1px solid #e7e7e8; width: 500px; margin: 0 auto; border-radius: 7px; padding: 25px 20px;">
<div style="text-align: center; margin: 0 auto;">{logo}</div>
<div style="background-color: #e7e7e8; height: 0.5px; margin: 20px -21px;"> </div>
<div style="margin: 20px 0;">{site_title}</div>
<table border="0" width="100%" cellspacing="1" cellpadding="0">
<tbody>
<tr>
<td>Order Number</td>
<td>{order_no}</td>
</tr>
<tr>
<td>Detailed Invoice</td>
<td>{order_invoice}</td>
</tr>
<tr>
<td>Date Ordered</td>
<td>{order_date}</td>
</tr>
<tr>
<td>Order Status</td>
<td>{order_status}</td>
</tr>
</tbody>
</table>
{user_comment}
<table style="margin-top: 15px;" border="0" width="100%" cellspacing="1" cellpadding="0">
<tbody>
<tr>
<td><strong>Product</strong></td>
</tr>
<tr>
<td>{product_detail}</td>
</tr>
<tr>
<td>{order_detail}</td>
</tr>
<tr>
<td><strong>Billing Address</strong></td>
</tr>
<tr>
<td>{billing_address}</td>
</tr>
<tr>
<td><strong>Payment Method</strong></td>
</tr>
<tr>
<td>{payment_method_detail}</td>
</tr>
</tbody>
</table>
</div>
</div>