{HEADER_HTML}
<script src="{INFO_TEXT_JSCRIPT_FILE}"></script>
{HEADER_MIDDLE_HTML}
 </td>
</tr>
<tr>
	<td valign="top">
		<table width="100%"  border="0" cellspacing="0" cellpadding="0">
			<tr valign="top">
				{design}
					<table width="100%"  border="0" cellspacing="0" cellpadding="0">
						<tr>
							<td>
								<table width="100%"  border="0" cellspacing="0" cellpadding="0">
									<tr>
										<td width="0%" background="img/main_bar_bg.gif"><div align="left"><img src="img/main_bar_left.gif" width="2" height="30"></div></td>
										<td width="100%" background="img/main_bar_bg.gif">
											<table  border="0" align="left" cellpadding="0" cellspacing="0">
												<tr>
													<td><img src="img/spacer.gif" width="12" height="5"></td>
													<td><img src="img/dotted_bullet.gif" width="10" height="10"></td>
													<td><img src="img/spacer.gif" width="6" height="5"></td>
													<td><span class="style8">{HEADING_TITLE}</span></td>
												</tr>
											</table>
										</td>
										<td width="0%" background="img/main_bar_bg.gif"><div align="right"><img src="img/main_bar_right.gif" width="2" height="30"></div></td>
									</tr>
								</table>
							</td>
						</tr>
						<tr>
							<td>{update_message}
							 <table width="100%" height="550"  border="0" cellpadding="15" cellspacing="1" bgcolor="#E2E2E2">
									<tr>{registration_form}{SCRIPT}
										<td bgcolor="#FFFFFF" valign="top">
											<table width="100%"  border="0" cellpadding="17" cellspacing="0" bgcolor="#dadbdc">
												<tr>
													<td bgcolor="#FFFFFF">
														<table width="100%"  border="0" cellspacing="0" cellpadding="0">
															<tr>
																<td>
																	<table width="100%" height="25"  border="0" cellpadding="0" cellspacing="0">
																		<tr>
																			<td bgcolor="#f7f7f7"><span class="style33">&nbsp;&nbsp;Your Personal Details</span></td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td><img src="img/spacer.gif" width="5" height="5"></td>
															</tr>
															<tr>
																<td>
																	<table width="100%"  border="0" cellspacing="0" cellpadding="3">
																		<tr>
																			<td><img src="img/spacer.gif" width="50" height="5"></td>
																			<td><div align="right" class="style27">{INFO_TEXT_FIRST_NAME}</div></td>
																			<td><img src="img/spacer.gif" width="10" height="5"></td>
																			<td>{INFO_TEXT_FIRST_NAME1}</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_LAST_NAME}</div></td>
																			<td>&nbsp;</td>
																			<td>{INFO_TEXT_LAST_NAME1}</td>
																		</tr>
																		<tr>
																			<td colspan="4">
																				<table width="100%" height="25"  border="0" cellpadding="0" cellspacing="0">
																					<tr>
																						<td bgcolor="#f7f7f7"><span class="style33">&nbsp;&nbsp;Your Account Details</span></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_EMAIL_ADDRESS}</div></td>
																			<td>&nbsp;</td>
																			<td><b>{INFO_TEXT_EMAIL_ADDRESS1}</b></td>
																		</tr>
																		<tr>
																			<td colspan="4">
																				<table width="100%" height="25"  border="0" cellpadding="0" cellspacing="0">
																					<tr>
																						<td bgcolor="#f7f7f7"><span class="style33">&nbsp;&nbsp;Company Information</span></td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_POSITION}</div></td>
																			<td>&nbsp;</td>
																			<td>{INFO_TEXT_POSITION1}</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_COMPANY_NAME}</div></td>
																			<td>&nbsp;</td>
																			<td>{INFO_TEXT_COMPANY_NAME1}</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_ADDRESS1}</div></td>
																			<td>&nbsp;</td>
																			<td>{INFO_TEXT_ADDRESS11}</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_ADDRESS2}</div></td>
																			<td>&nbsp;</td>
																			<td>{INFO_TEXT_ADDRESS21}</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_CITY}</div></td>
																			<td>&nbsp;</td>
																			<td>{INFO_TEXT_CITY1}</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_COUNTRY}</div></td>
																			<td>&nbsp;</td>
																			<td>{INFO_TEXT_COUNTRY1}
																			</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_STATE}</div></td>
																			<td>&nbsp;</td>
																			<td>{INFO_TEXT_STATE1}</td>
																		</tr>
																		<tr>
																				<td>&nbsp;</td>
																				<td><div align="right" class="style27">{INFO_TEXT_ZIP_CODE}</div></td>
																				<td>&nbsp;</td>
																				<td>{INFO_TEXT_ZIP_CODE1}</td>
																		</tr>
																		<tr>
																				<td>&nbsp;</td>
																				<td><div align="right" class="style27">{INFO_TEXT_TELEPHONE}</div></td>
																				<td>&nbsp;</td>
																				<td>{INFO_TEXT_TELEPHONE1}</td>
																		</tr>
																		<tr>
																				<td>&nbsp;</td>
																				<td><div align="right" class="style27">{INFO_TEXT_FAX}</div></td>
																				<td>&nbsp;</td>
																				<td>{INFO_TEXT_FAX1}</td>
																		</tr>
																		<tr>
																				<td>&nbsp;</td>
																				<td><div align="right" class="style27">{INFO_TEXT_PHOTO}</div></td>
																				<td>&nbsp;</td>
																				<td>{INFO_TEXT_PHOTO1}</td>
																		</tr>
																		<tr>
																				<td>&nbsp;</td>
																				<td><div align="right" class="style27">{INFO_TEXT_URL}</div></td>
																				<td>&nbsp;</td>
																				<td>{INFO_TEXT_URL1} <br>( <span>for example  http://www.aynsoft.com</span> )</td>
																		</tr>
																		<tr>
																			<td>&nbsp;</td>
																			<td><div align="right" class="style27">{INFO_TEXT_NEWS_LETTER}</div></td>
																			<td>&nbsp;</td>
																			<td>
																				<table border="0" align="left" cellpadding="0" cellspacing="0">
																					<tr>
																						<td>{INFO_TEXT_NEWS_LETTER1}</td>
																					</tr>
																				</table>
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
															</tr>
															<tr>
																<td class="style23">{INFO_TEXT_AGREEMENT}</td>
															</tr>
															<tr>
																<td>&nbsp;</td>
															</tr>
															<tr>
																<td><div align="center">{add_save_button}</div></td>
															</tr>
														</table>
													</td>
												</tr>
											</table>
										</td></form>
									</tr>
								</table>
							</td>
						</tr>
					</table>
					</div>
				</td>
				<!-- Middle Ends -->
   </tr>
		</table>
	</td>
</tr>
{FOOTER_HTML}
