{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<script src='https://www.google.com/recaptcha/api.js'></script>
<script src="{INFO_TEXT_JSCRIPT_FILE}"></script>

<!-- input tel country code -->

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@19.2.16/build/css/intlTelInput.css">
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@19.2.16/build/js/intlTelInput.min.js"></script>


<style>
	.displayNone {
		display: none;
	}
</style>
<script>
	window.setTimeout(function () {
		$(".alert").fadeTo(500, 0).slideUp(500, function () {
			$(this).remove();
			$(".messageStackSuccess").addClass("displayNone"

			);
			// $messageStackSuccess
		});
	}, 50000);
</script>
<div class="container">
	<div class="row">
		<!-- Left Starts -->
		{LEFT_HTML}
		<!-- Left Ends -->
		<div class="col-md-6 mx-auto">
			{update_message}
			<div class="card card-custom">
				<div class="card-header">
					<h1 class="mb-1">{HEADING_TITLE}</h1>
					<div class="small">Already a Member? {SIGN_IN} </div>
				</div>
				<div class="card-body card-body-custom">

					{registration_form}
					{SCRIPT}

					<p class="label-text">{INFO_PERSONAL_DETAILS}</p>
					{INFO_TEXT_EMAIL_ADDRESS1}
					{password_data}
					<div class="row">
						<div class="col">
							{INFO_TEXT_FIRST_NAME1}
						</div>
						<div class="col">
							{INFO_TEXT_LAST_NAME1}
						</div>
					</div>
					<p class="label-text">{INFO_COMPANY_DETAILS}</p>
					{INFO_TEXT_POSITION1}
					{INFO_TEXT_COMPANY_NAME1}
					{INFO_TEXT_ADDRESS11}

					<div class="row">
						<div class="col-md-6">{INFO_TEXT_CITY1}</div>
						<div class="col-md-6">{INFO_TEXT_ZIP_CODE1}</div>
						<div class="col-md-6">{INFO_TEXT_COUNTRY1}</div>
						<div class="col-md-6">{INFO_TEXT_STATE1}</div>
						<div class="col-md-6">{INFO_TEXT_URL1}</div>
						<div class="col-md-6">
							{INFO_TEXT_TELEPHONE1}
						</div>
					</div>
					<p class="label-text">{INFO_TEXT_PHOTO}</p>
					<small id="emailHelp" class="text-muted font-14 pt-2">{INFO_TEXT_PHOTO1} <br><span
							class="m-display-table" style="color: #808080;display: block;font-size: 12px;margin-top: 5px;">{INFO_UPLOAD_GIF}</span></small>
					<!-- <p class="label-text mt-3">{INFO_TEXT_NEWSLETTER}</p> -->
					<div class="my-3">{INFO_TEXT_NEWS_LETTER1}</div>
					<div>{G_CAPTCHA}</div>
					<small id="emailHelp" class="text-muted font-14">{INFO_TEXT_CONTINUE}{TERMS}
						{INFO_AND}{PRIVACY}</small>
					{INFO_TEXT_ALREADY_MEMBER}
				</div>
				<div class="card-footer bg-white card-footer-custom">
					<div class="text-center">{add_save_button}</div>
					<div class="">{INFO_TEXT_SOCIAL_BUTTON}</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	const input = document.querySelector("#TR_telephone_number");
	let defaultCode = "{DEFAULT_CODE}";

	const defaultPhoneCountry = document.getElementById('phoneCountry');

	if (defaultPhoneCountry.value.length > 0) {
		defaultCode = defaultPhoneCountry.value;
	}

	iti = window.intlTelInput(input, {
		utilsScript: "{INFO_TEXT_INTL_TEL_INPUT_JSCRIPT_FILE}",
		initialCountry: defaultCode
	});

	// while initial load
	const countryCode = iti.getSelectedCountryData();
	document.getElementById("phoneCode").value = "+" + countryCode.dialCode;
	document.getElementById("phoneCountry").value = countryCode.iso2;

	// while event chagne
	input.addEventListener("countrychange", function () {
		const countryCode = iti.getSelectedCountryData();
		document.getElementById("phoneCode").value = "+" + countryCode.dialCode;
		document.getElementById("phoneCountry").value = countryCode.iso2;
	});
</script>
{FOOTER_HTML}