{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
    <div class="row">
        <div class="col-md-7 mx-auto">
            <div class="card card-custom">
                <div class="card-header card-header-custom">
                    <h1 class="main-heading">{HEADING_TITLE}</h1>
                </div>
                <div class="card-body card-body-custom">
				{TEXT_ACCOUNT_CREATED}
				</div>
				
				<div class="card-footer card-footer-custom text-center">
                    {button}
                </div>
				
				
				
            </div>
        </div>
    </div>
</div>

{FOOTER_HTML}
