{HEADER_HTML}
{HEADER_MIDDLE_HTML}
{INFO_TEXT_JSCRIPT_FILE}
<!-- Below Script for auto close -->
<style>
    .displayNone {
        display: none;
    }

</style>
<script>
    window.setTimeout(function() {
       $(".alert").fadeTo(500, 0).slideUp(500, function(){
           $(this).remove();
        $( ".messageStackSuccess" ).addClass( "displayNone" );
        // $messageStackSuccess
       });
   }, 50000););
</script>
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
		<!-- Below Alert message File path is class/message_stack.php -->
		{update_message} 
            <div class="card card-custom">
                <div class="card-header">
                    <h1 class="m-0">{HEADING_TITLE}</h1>
                </div>
                <div class="card-body card-body-custom">
            {form}
            <div class="text-muted small mb-3">{HEADING_CONTENT}</div>
			{TREF_email_address}</td>
            {buttons}
			
 </div>
            </div>
        </div>
    </div>
</div>			
{FOOTER_HTML}