{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="2">
 <tr>
<!-- Left Ends -->        
<SCRIPT LANGUAGE="JavaScript">
function popUp(URL) 
{
 day = new Date();
 id = day.getTime();
 eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=800,height=600,left = 0,top = 0');");
}
</script>
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="3">
    <tr>
     <td valign="top">
			   <table border="0" width="99%" cellspacing="1" cellpadding="2" class="infoBox" align="center">
				   <tr bgcolor="FFFFFF">
					   <td valign="top">
         <table border="0" width="100%" cellspacing="0" cellpadding="20">
          <tr>
           <td class="pageHeading" align="middle">{HEADING_TITLE}sss</td>
          </tr>
         </table>
         <table border="0" width="98%" cellspacing="0" cellpadding="1" align="center">
          <tr>
           <td valign="top">{update_message}</td>
          </tr>
         </table>
         <table border="0" width="100%" cellspacing="0" cellpadding="0">
          <tr>
           <td valign="top">
            <table border="0" width="100%" cellspacing="0" cellpadding="15">
             <tr>
              <td class="sectionHeading">{SECTION_PERSONAL_PROFILE}</td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
         <table border="1" width="98%" cellspacing="0" cellpadding="4" align="center" bgcolor="#FFFFFF">
          <tr>
           <td valign="top">
												<table border="0" cellspacing="0" cellpadding="4" align="right">
													<tr>
														<td valign="top" align="middle">{photo}</td>
													</tr>
												</table>
												<div align="center">
												<table border="0" width="100%" cellspacing="3" cellpadding="3" align="center">
													<tr>
														<td width="130" align="right" class="small_bold">{INFO_TEXT_FULL_NAME}</td>
														<td>{INFO_TEXT_FULL_NAME1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_EMAIL_ADDRESS}</td>
														<td>{INFO_TEXT_EMAIL_ADDRESS1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_HOME_PHONE}</td>
														<td>{INFO_TEXT_HOME_PHONE1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_MOBILE}</td>
														<td>{INFO_TEXT_MOBILE1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_ADDRESS}</td>
														<td>{INFO_TEXT_ADDRESS1}</td>
													</tr>
												</table>
												</div>
											</td>
										</tr>
									</table>
         <table border="0" width="100%" cellspacing="3" cellpadding="0">
          <tr>
           <td valign="top">
            <table border="0" cellspacing="0" cellpadding="15">
             <tr>
              <td class="sectionHeading">{SECTION_DESIRED_POSITION}</td>
              <td>&nbsp;&nbsp;&nbsp;</td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
         <table border="1" width="98%" cellspacing="0" cellpadding="4" align="center" bgcolor="#FFFFFF">
          <tr>
           <td valign="top">
												<table border="0" width="100%" cellspacing="3" cellpadding="3" align="center">
													<tr>
														<td width="120" align="right" class="small_bold">{INFO_TEXT_INTERESTS}</td>
														<td>{INFO_TEXT_INTERESTS1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_SALARY_EXPECTED}</td>
														<td>{INFO_TEXT_SALARY_EXPECTED1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_JOB_TYPE}</td>
														<td>{INFO_TEXT_JOB_TYPE1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_SHIFT_TYPE}</td>
														<td>{INFO_TEXT_SHIFT_TYPE1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_EMPLOYMENT_TYPE}</td>
														<td>{INFO_TEXT_EMPLOYMENT_TYPE1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_RELOCATE}</td>
														<td>{INFO_TEXT_RELOCATE1}</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
         <table border="0" width="100%" cellspacing="3" cellpadding="0">
          <tr>
           <td valign="top">
            <table border="0" cellspacing="0" cellpadding="15">
             <tr>
              <td class="sectionHeading">{SECTION_EXPERIENCE}</td>
              <td>&nbsp;&nbsp;&nbsp;</td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
         <table border="1" width="98%" cellspacing="0" cellpadding="4" align="center" bgcolor="#FFFFFF">
          <tr>
           <td valign="top">
												<table border="0" width="100%" cellspacing="3" cellpadding="3" align="center">
													<tr>
														<td width="165" align="right" class="small_bold">{INFO_TEXT_NO_OF_JOBS}</td>
														<td>{INFO_TEXT_NO_OF_JOBS1}</td>
														<td width="165" align="right" class="small_bold">{INFO_TEXT_CURRENTLY_EMPLOYED}</td>
														<td>{INFO_TEXT_CURRENTLY_EMPLOYED1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_RECENT_JOB_TITLE}</td>
														<td>{INFO_TEXT_RECENT_JOB_TITLE1}</td>
														<td align="right" class="small_bold">{INFO_TEXT_LAST_EXPERIENCE}</td>
														<td>{INFO_TEXT_LAST_EXPERIENCE1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_CURRENT_SALARY}</td>
														<td>{INFO_TEXT_CURRENT_SALARY1}</td>
														<td align="right" class="small_bold">{INFO_TEXT_TOTAL_EXPERIENCE}</td>
														<td>{INFO_TEXT_TOTAL_EXPERIENCE1}</td>
													</tr>
													<tr>
														<td align="right" class="small_bold">{INFO_TEXT_NO_OF_EMPLOYEE}</td>
														<td>{INFO_TEXT_NO_OF_EMPLOYEE1}</td>
														<td align="right" class="small_bold">{INFO_TEXT_HIGHEST_EDUCATION_LEVEL}</td>
														<td>{INFO_TEXT_HIGHEST_EDUCATION_LEVEL1}</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
         <table border="0" width="100%" cellspacing="3" cellpadding="0">
          <tr>
           <td valign="top">
            <table border="0" cellspacing="0" cellpadding="15">
             <tr>
              <td class="sectionHeading">{SECTION_RESUME}</td>
              <td>{resume}</td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
         <table border="1" width="98%" cellspacing="0" cellpadding="4" align="center" bgcolor="#FFFFFF">
          <tr>
           <td valign="top">
												<table border="0" width="100%" cellspacing="3" cellpadding="3" align="center">
													<tr>
														<td colspan="2">{INFO_TEXT_RESUME_TEXT1}</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
         <table border="0" width="100%" cellspacing="3" cellpadding="0">
          <tr>
           <td valign="top">
            <table border="0" cellspacing="0" cellpadding="15">
             <tr>
              <td class="sectionHeading">{SECTION_OTHERS}</td>
              <td>&nbsp;&nbsp;&nbsp;</td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
         <table border="1" width="98%" cellspacing="0" cellpadding="4" align="center" bgcolor="#FFFFFF">
          <tr>
           <td valign="top">
												<table border="0" width="100%" cellspacing="3" cellpadding="3" align="center">
													<tr>
														<td width="220" class="small_bold">{INFO_TEXT_SEEKING_JOB_REASON}</td>
														<td>{INFO_TEXT_SEEKING_JOB_REASON1}</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>									
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </td>
<!-- Middle Ends -->
<!-- Right Starts -->
 </tr>
</table>
<!-- Right Ends -->
{FOOTER_HTML}