{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<style>
    .displayNone {
        display: none;
    }
</style>
<div class="container">
    <div class="row">
	<div class="col-md-9 mx-auto">
	<div class="card card-custom">
				<div class="card-header card-header-custom border-bottom no-radius bg-transparent">
					<h1 class="">{HEADING_TITLE}</h1>
				</div>
				<div class="card-body card-body-custom">

    <div class="row">
        <div class="col-md-4">
            <h4>{INFO_TEXT_JOBSEEKERS}</h4>
            <p class="card-text">{JOBSEEKER_SITE_MAP}</p>
        </div>
        <div class="col-md-4">
            <h4>{INFO_TEXT_EMPLOYER}</h4>
            <p class="card-text">{RECRUITER_SITE_MAP}</p>
        </div>
        <div class="col-md-4">
            <h4>{INFO_TEXT_OTHERS}</h4>
            <p class="card-text">{OTHERS_SITE_MAP}</p>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
{FOOTER_HTML}