{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<style>
</style>
<div class="container">
    <!--do not remove or edit blow comment-->
    <!--START_FILE_EDIT_CONTENT-->
    <div class="row">
        <div class="col-md-8 mx-auto">
		<div class="card card-custom">
				<div class="card-header card-header-custom border-bottom no-radius bg-transparent">
					<h1 class="skeleton">{HEADING_TITLE}</h1>
				</div>
				<div class="card-body card-body-custom">
                    {PARAGRAPH}
        </div>
        <!--END_FILE_EDIT_CONTENT-->
        <!--do not remove above comment line-->
    </div>
</div>
</div>
</div>
{FOOTER_HTML}