{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<!-- Left Starts -->
<table border="0" width="100%" cellspacing="0" cellpadding="2">
 <tr>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="0">
    <tr>
     <td valign="top">
			   <table border="0" width="100%" cellspacing="1" cellpadding="2" class="infoBox" align="center">
				   <tr bgcolor="FFFFFF">
					   <td valign="top">
         <table border="0" width="100%" cellspacing="0" cellpadding="10">
          <tr>
           <td align="center" class="pageHeading">{HEADING_TITLE}</td>
          </tr>
         </table>
         <table border="0" width="100%" cellspacing="0" cellpadding="10">
          <tr>
           <td align="center" valign="top" >
            Dear <STRONG>{user_name}</STRONG>,
            <BR><BR> Your are successfully unsubscribe newletter
            <br><br> Admin<br>{site_title}.<BR>

         </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </td>
<!-- Middle Ends -->
<!-- Right Starts -->
  
 </tr>
</table>
<!-- Right Ends -->
{FOOTER_HTML}