{HEADER_HTML}
{HEADER_MIDDLE_HTML}

<div class="container">
	<div class="row">
        <div class="col-md-7 mx-auto">
            <h1 class="main-heading">{HEADING_TITLE}</h1>
        </div>
    </div>

	<div class="row">
		<div class="col-md-7 mx-auto">
		{update_message}
			<div class="card card-custom">
				<div class="card-body card-body-custom">
					
					{form}

					<div class="form-group row">
						<div class="col-md-12">
							{INFO_TEXT_BOOKMARK_RESUME}

						</div>
					</div>
					<div class="form-group row align-items-center">
						<label for="my-input" class="col-md-2 text-start">{INFO_TEXT_JOB}</label>
						<div class="col-md-8">
							{INFO_TEXT_JOB1}

						</div>
					</div>

					<div class="form-group row">
						<label for="my-input" class="col-md-2 text-start"></label>
						<div class="col-md-8">
							{button}
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- {black_verdana_HTML} -->
	</div>
</div>
{FOOTER_HTML}