{HEADER_HTML}
{HEADER_MIDDLE_HTML}{INFO_TEXT_JSCRIPT_FILE}
<div class="container">
	<div class="row">
        <div class="col-md-7 mx-auto">
            <h1 class="main-heading">{HEADING_TITLE}</h1>
        </div>
    </div>

	<div class="row">
		<div class="col-md-7 mx-auto">
			<div class="card card-custom">
				<div class="card-body card-body-custom">
					{update_message}
					{form}

					<div class="form-group row">
						<label for="my-input" class="col-md-3 col-form-label">{INFO_TEXT_FROM_NAME}</label>
						<div class="col-md-9">
							{INFO_TEXT_FROM_NAME1}

						</div>
					</div>

					<div class="form-group row">
						<label for="my-input" class="col-md-3 col-form-label">{INFO_TEXT_FROM_EMAIL_ADDRESS}</label>
						<div class="col-md-9">
							{INFO_TEXT_FROM_EMAIL_ADDRESS1}

						</div>
					</div>

					<div class="form-group row">
						<label for="my-input" class="col-md-3 col-form-label">{INFO_TEXT_TO_NAME}</label>
						<div class="col-md-9">
							{INFO_TEXT_TO_NAME1}

						</div>
					</div>

					<div class="form-group row">
						<label for="my-input" class="col-md-3 col-form-label">{INFO_TEXT_TO_EMAIL_ADDRESS}</label>
						<div class="col-md-9">
							{INFO_TEXT_TO_EMAIL_ADDRESS1}

						</div>
					</div>

					<div class="form-group row">
						<label for="my-input" class="col-md-3 col-form-label">{INFO_TEXT_SUBJECT}</label>
						<div class="col-md-9">
							{INFO_TEXT_SUBJECT1}

						</div>
					</div>

					<div class="form-group row">
						<label for="my-input" class="col-md-3 col-form-label">{INFO_TEXT_MESSAGE}</label>
						<div class="col-md-9">
							{INFO_TEXT_MESSAGE1}

						</div>
					</div>

					<div class="form-group row">
						<label for="my-input" class="col-md-3 col-form-label"></label>
						<div class="col-md-9">
							{button}

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>

{FOOTER_HTML}