{ADMIN_HEADER_HTML}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->
<!-- Middle Starts -->
<div class="be-content">
  {update_message}
  <div class="main-content container-fluid">
    <h3>
      <i class="fa fa-edit fa-admin-icons" aria-hidden="true"></i> {HEADING_TITLE}
    </h3>
    <div class="row">
      <div class="col-md-9">
    <div class="card  card-border-color card-border-color-primary shadow-sm card-border-color-primary">
      <div class="card-header">
        {view_list_of_sliders}
      </div>
      <div class="card-body col-md-6">
        {form}
        <div class="form-group row">
          <label class="col-12 col-sm-4 col-form-label text-sm-right">{INFO_TEXT_TITLE}</label>
          <div class="col-12 col-sm-8 col-lg-6">
            {INFO_TEXT_TITLE1}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12 col-sm-4 col-form-label text-sm-right">{INFO_TEXT_SLIDER_IMAGE}</label>
          <div class="col-12 col-sm-8 col-lg-6">
            {INFO_TEXT_SLIDER_IMAGE1}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-12 col-sm-4 col-form-label text-sm-right"></label>
          <div class="col-12 col-sm-8 col-lg-6">
            {button}
          </div>
        </div>

        </form>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
{ADMIN_FOOTER_HTML}