{ADMIN_HEADER_HTML}
<script>
  function unlimited()
  {
   if(document.forms['0'].ch_no_of_jobs)
   {
    if(document.forms['0'].ch_no_of_jobs.checked==true)
    {
     document.forms['0'].no_of_jobs.disabled=true;
    }
    else if(document.forms['0'].ch_no_of_jobs.checked==false)
    {
     document.forms['0'].no_of_jobs.disabled=false;
    }
   }
   if(document.forms['0'].ch_no_of_days)
   {
    if(document.forms['0'].ch_no_of_days.checked==true)
    {
     document.forms['0'].no_of_days.disabled=true;
    }
    else if(document.forms['0'].ch_no_of_days.checked==false)
    {
     document.forms['0'].no_of_days.disabled=false;
    }
   } 
  }
</script>
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->
<!-- Middle Starts -->
<div class="be-content">

  <div class="main-content container-fluid">
    <h3>
      <i class="fa fa-briefcase fa-admin-icons" aria-hidden="true"></i> {HEADING_TITLE}
    </h3>
    <div class="row">
      <div class="col-9">
        {update_message}
        <div class="card card-table card-border-color card-border-color-primary shadow-sm">
          <div class="card-header">
            <div class="">
              <div class="float-left">
                {search_form}
                  {search_text}
                </form>
              </div>
              <div class="float-right">
                {order_form}
                  {order_text}
                </form>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead>
              <th>{TABLE_HEADING_NAME}</th>
              <th>{TABLE_HEADING_EMAIL}</th>
              <th>{TABLE_HEADING_COMPANY}</th>
              </thead>
              <tbody>
                <tr{row_selected}>
                 <td>{TEXT_INFO_FULLNAME1}</td>
                 <td>{TEXT_INFO_EMAIL1}</td>
                 <td>{TEXT_INFO_COMPANY1}</td>
                </tr>
              </tbody>
             </table>
          </div>
        </div>
      </div>
        <!-- Right Starts -->
        <div class="col-md-3 pl-1">
          <div class="card card-border-color card-border-color-primary">
            <div class="card-body">
          {ADMIN_RIGHT_HTML}
        </div>
        </div>
      </div>
        <!-- Right Ends -->
    </div>
    <!-- Right Ends -->
  </div>
  <!--end main-content container-fluid-->
</div>
<!--end be-content-->
{ADMIN_FOOTER_HTML}