{ADMIN_HEADER_HTML}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->
<!-- Middle Starts -->
<div class="be-content">
  {update_message}
  <div class="main-content container-fluid">
    <h3>
      <i class="fa fa-search fa-admin-icons" aria-hidden="true"></i> {HEADING_TITLE}
    </h3>
    <div class="row">
      <div class="col-md-9">
        {SCRIPT}
        <div class="card card-table card-border-color card-border-color-primary shadow-sm">
          <div class="card-body">
            {form}
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_KEYWORD}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_KEYWORD1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right"></label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_KEYWORD3}
              </div>
            </div>
            
            
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_FIRST_NAME}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_FIRST_NAME1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_LAST_NAME}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_LAST_NAME1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_EMAIL_ADDRESS}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_EMAIL_ADDRESS1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_COUNTRY}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_COUNTRY1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_STATE}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_STATE1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_CITY}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_CITY1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_ZIP}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_ZIP1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_JOB_CATEGORY}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_JOB_CATEGORY1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_MINIMUM_RATING}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_MINIMUM_RATING1}
              </div>
            </div>

            <div class="form-group row">
            <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_MAXIMUM_RATING}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_MAXIMUM_RATING1}
              </div>
            </div>

            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_EXPERIENCE}</label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_EXPERIENCE1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right"></label>
              <div class="col-12 col-sm-8 col-lg-6">
                {button}
              </div>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{ADMIN_FOOTER_HTML}