{ADMIN_HEADER_HTML}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->
<div class="be-content">
  {update_message}
  <div class="main-content container-fluid">
    <h3>
      <i class="fa fa-envelope fa-admin-icons" aria-hidden="true"></i> {HEADING_TITLE}
    </h3>
    <div class="row">
      <div class="col-md-9">
        <div class="card card-table card-border-color card-border-color-primary shadow-sm card-border-color-primary">
          <div class="card-header">
            {new_news_letter_button}
          </div>
          <div class="card-body table-responsive">
		  
		  <!-- Middle Starts -->
				<div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">{TEXT_NEWSLETTER_MODULE}</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        {preview_news_module}
                      </div>
                </div>
					
				<div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">{TEXT_NEWSLETTER_TITLE}</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        {preview_news_title}
                      </div>
                </div>

				<div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">{INFO_TEXT_ATTACHMENT}</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        {INFO_TEXT_ATTACHMENT1}
                      </div>
                </div>

				<div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3">{TEXT_NEWSLETTER_CONTENT}</label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        {preview_news_content}
                      </div>
                </div>

				<div class="form-group row">
                      <label class="col-12 col-sm-3 col-form-label text-sm-right" for="inputText3"></label>
                      <div class="col-12 col-sm-8 col-lg-6">
                        {preview_news_letter_button}
                      </div>
                </div>				
				
				
				<!-- Middle Ends -->	
		  </div>
		  </div>
		  </div>
		</div>
	</div>
</div>
		  
{ADMIN_FOOTER_HTML}