{ADMIN_HEADER_HTML}
{update_message}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->       
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="2">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="pageHeading">{HEADING_TITLE}</td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td valign="top">
      <table border="0" width="100%" cellspacing="0" cellpadding="0">
       <tr>
        <td valign="top">
         <table border="0" width="100%" cellspacing="1" cellpadding="0" class="middle_table1">
          <tr>
           <td valign="top">
            <table border="0" width="100%" cellspacing="0" cellpadding="4" class="middle_table2">
             <tr class="dataTableHeadingRow">{form}
              <td class="dataTableHeadingContent" colspan="2">{TABLE_HEADING_ACCOUNT}</td>
             </tr>
             <tr class="dataTableRow">
              <td class="dataTableContent" width="23%">{TEXT_INFO_LOGINNAME}</td>
              <td class="dataTableContent">{TEXT_INFO_LOGINNAME1}</td>
             </tr>
             <tr class="dataTableRow">
              <td class="dataTableContent">{TEXT_INFO_FIRSTNAME}</td>
              <td class="dataTableContent">{TEXT_INFO_FIRSTNAME1}</td>
             </tr>
             <tr class="dataTableRow">
              <td class="dataTableContent">{TEXT_INFO_LASTNAME}</td>
              <td class="dataTableContent">{TEXT_INFO_LASTNAME1}</td>
             </tr>
             <tr class="dataTableRow">
              <td class="dataTableContent">{TEXT_INFO_EMAIL}</td>
              <td class="dataTableContent">{TEXT_INFO_EMAIL1}</td>
             </tr>
             <tr class="dataTableRow">
              <td class="dataTableContent">{TEXT_INFO_PASSWORD}</td>
              <td class="dataTableContent">{TEXT_INFO_PASSWORD1}</td>
             </tr>
             <tr class="dataTableRow">
              <td class="dataTableContent">{TEXT_INFO_PASSWORD_CONFIRM}</td>
              <td class="dataTableContent">{TEXT_INFO_PASSWORD_CONFIRM1}</td>
             </tr>
            </table>
            <table border="0" width="100%" cellspacing="0" cellpadding="2" class="show_page">
             <tr>
              <td colspan="5" align="right">{buttons}</td>
             </tr>
            </table>
           </td>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
<!-- Middle Ends -->
<!-- Right Starts -->
     <td width="{RIGHT_BOX_WIDTH}" valign="top">
      <table border="0" width="{RIGHT_BOX_WIDTH}" cellspacing="0" cellpadding="0">
       <tr>
        <td valign="top">{ADMIN_RIGHT_HTML}</td>
       </tr>
       </form>
      </table>
     </td>
    </tr>
   </table>
  </tr>
 </tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}