{ADMIN_HEADER_HTML}
<SCRIPT LANGUAGE="JavaScript">
  function test_authentication() {
    document.linkedin_form.action.value = 'test_authentication';
    document.linkedin_form.submit();
  }
</SCRIPT>
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->
<!-- Middle Starts -->
<div class="be-content">
  {update_message}
  <div class="main-content container-fluid">
    <h3>
      <span style="margin-right: 5px;font-size: 26px;float: left;"><ion-icon name="share-social-outline"></ion-icon></span>{HEADING_TITLE}d
    </h3>
    <div class="row">
      <div class="col-md-9">
        <div class="card card-border-color card-border-color-primary shadow-sm card-border-color-primary">
          {social_footer_form}
          <div class="card-body">
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_FACEBOOK_FOOTER_LINK} <i
                class="fab fa-facebook"></i></label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_FACEBOOK_FOOTER_LINK1}<span style="font-size:11px;">Eg:
                  https://www.facebook.com/ejobsitesoftware/</span>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_LINKEDIN_FOOTER_LINK} <i
                class="fab fa-linkedin"></i></label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_LINKEDIN_FOOTER_LINK1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_TWITTER_FOOTER_LINK} <i
                class="fab fa-twitter"></i></label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_TWITTER_FOOTER_LINK1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right">{INFO_TEXT_GOOGLEPLUS_FOOTER_LINK} <i
                class="fab fa-google-plus-square"></i></label>
              <div class="col-12 col-sm-8 col-lg-6">
                {INFO_TEXT_GOOGLEPLUS_FOOTER_LINK1}
              </div>
            </div>
            <div class="form-group row">
              <label class="col-12 col-sm-3 col-form-label text-sm-right"></label>
              <div class="col-12 col-sm-8 col-lg-6">
                {button}
              </div>
            </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{ADMIN_FOOTER_HTML}