{ADMIN_HEADER_HTML}
{update_message}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->        
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="2">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="pageHeadingAdmin">{HEADING_TITLE}</td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td valign="top">      
      <table border="0" width="100%" cellspacing="0" cellpadding="0" class="middle_table1">
       <tr>
        <td valign="top">
         <table border="0" width="100%" cellspacing="0" cellpadding="2" class="show_page">
          <tr>
           <td colspan="2" ><div>{INFO_TEXT_PAGE_CONTENT}</div></td>
          </tr>
         </table>      
        </td>
       </tr>
      </table>
      </div> 
     </td>
<!-- Middle Ends -->
<!-- Right Starts -->     
 </tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}