{ADMIN_HEADER_HTML}
{update_message}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->        
<!-- Middle Starts -->
<div class="be-content">
  {update_message}
  <div class="main-content container-fluid">
    <h3>
      <span style="margin-right: 5px;font-size: 26px;float: left;"><ion-icon name="analytics-outline"></ion-icon></span>{HEADING_TITLE}
    </h3>
	<div class="row">
      <div class="col-md-9">
        <div class="card card-border-color card-border-color-primary shadow-sm card-border-color-primary">
           <div class="card-body">
				<div>{form}</div>
				<div>{MIDDLE_STRING}</div>
				<div class="mt-3">{new_button}</div>
			</form>
		  </div>
		  </div>
		  </div>
		  </div>
</div>	
</div>
<!-- Middle Ends -->
<!-- Right Starts -->
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}