{ADMIN_HEADER_HTML}

<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->       
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="0" id="admin-outer-table">
    <tr>
     <td>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td class="pageHeading">&nbsp;{HEADING_TITLE1}</td>
        <td align="right">{HEADING_TITLE}&nbsp;</td>
       </tr>
      </table>
     </td>
    </tr>
    <tr>
     <td valign="top">{update_message}
	 
	 <!-- Start Order Page -->
	 <div class="order-page">
		<div class="order-box1">
			<ul class="order1">
				<li class="order-box-title">Order Status</li>
				<li class="order-box-title2">
				{form}
				<table width="100%" border="0" cellspacing="0" cellpadding="0">
				  <tr>
					<td>{ENTRY_STATUS}</td>
					<td>{ENTRY_STATUS1}</td>
				  </tr>
				  <tr>
					<td>{TABLE_HEADING_COMMENTS}</td>
					<td>{TABLE_HEADING_COMMENTS2}</td>
				  </tr>
				  <tr>
					<td></td>
					<td>{ENTRY_NOTIFY_CUSTOMER1} {ENTRY_NOTIFY_CUSTOMER}</td>
				  </tr>
				  <tr>
					<td></td>
					<td>{ENTRY_NOTIFY_COMMENTS1} {ENTRY_NOTIFY_COMMENTS}</td>
				  </tr>
				  <tr>
					<td></td>
					<td><p class="order-space">{button}</p></td>
				  </tr>
				</table>
				</form>
				</li>
			</ul>
			<ul class="order1">
				<li class="order-box-title">Payment Method</li>
				<li class="order-box-title2">
				<table width="100%" border="0" cellspacing="0" cellpadding="0" class="admin-second-data-table">
				  <tr class="admin-table-head-bar2">
					<td>Payment Via</td>
					<td>{ENTRY_PAYMENT_METHOD1}</td>
				  </tr>
				  {credit_card_string}
				  <tr class="admin-table-head-bar2">
					<td>{TABLE_HEADING_PRODUCTS}</td>
					<td>{TABLE_HEADING_PRODUCTS1}</td>
				  </tr>
				  <tr class="admin-table-head-bar2">
					<td>{TABLE_HEADING_TOTAL_PRICE}</td>
					<td>{TABLE_HEADING_TOTAL_PRICE1}</td>
				  </tr>
				  {order_total_text}
				  
				</table>
				</li>
			</ul>
		</div>
	 
	 
	 	<div class="order-box1">
			<ul class="order1">
				<li class="order-box-title">Customer</li>
				<li class="order-box-title3">
				{ENTRY_CUSTOMER1}
				</li>
			</ul>
			<ul class="order1">
				<li class="order-box-title">Billing Address</li>
				<li class="order-box-title3">
				{ENTRY_BILLING_ADDRESS1}
				</li>
			</ul>
		</div>

		<div class="order-box1">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" class="admin-second-data-table">
           <tr class="admin-table-head-bar">
            <td valign="top" class="label">{TABLE_HEADING_DATE_ADDED}</td>
            <td valign="top" class="label">{TABLE_HEADING_STATUS}</td>
            <td valign="top" class="label">{TABLE_HEADING_COMMENTS}</td>
           </tr>
           <tr>
            <td valign="top" class="small">{TABLE_HEADING_DATE_ADDED1}</td>
            <td valign="top" class="small">{TABLE_HEADING_STATUS1}</td>
            <td valign="top" class="small">{TABLE_HEADING_COMMENTS1}</td>
           </tr>
          </table>
		</div>
	 
	 </div><!-- End Order Page -->
	 
	 
	 </td>
	</tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}