{ADMIN_HEADER_HTML}
{update_message}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->       
<!-- Middle Starts -->
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="0" cellpadding="2">
    <tr>
     <td>
      <table border="0" cellspacing="0" cellpadding="0">
       <tr>
        <td><div class="admin-page-heading"><i class="fa fa-envelop fa-admin-icons" aria-hidden="true"></i> {HEADING_TITLE}</div></td>
								<!-- <td>{different_applications}</td> -->
       </tr>
      </table>
     </td>
    </tr>
    <tr>
					<td>{update_message}
						<table width="100%" height="355"  border="0" cellpadding="5" cellspacing="1" bgcolor="#E2E2E2">
							<tr bgcolor="#FFFFFF">
								<td>{form}
									<table width="100%"  border="0" cellspacing="0" cellpadding="3" align="left">
									<tr>
											<td width="1%">&nbsp;</td>
											<td width="38%"><div align="right" class="style27">{HEADING_TO_EMAIL}</div></td>
											<td width="1%">&nbsp;</td>
											<td width="60%">{HEADING_TO_EMAIL1}</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td><div align="right" class="style27">{INFO_TEXT_FROM_EMAIL}</div></td>
											<td>&nbsp;</td>
											<td>{INFO_TEXT_FROM_EMAIL1}</td>
										</tr>
										<tr>
											<td>&nbsp;</td>
											<td><div align="right" class="style27">{INFO_TEXT_SUBJECT}</div></td>
											<td>&nbsp;</td>
											<td>{INFO_TEXT_SUBJECT1}</td>
										</tr>
									<!-- 	<tr>
											<td>&nbsp;</td>
											<td><div align="right" class="style27">{INFO_MAIL_ATTACHMENT}</div></td>
											<td>&nbsp;</td>
											<td>{INFO_MAIL_ATTACHMENT1}</td>
										</tr> -->
										<tr>
											<td>&nbsp;</td>
											<td><div align="right" class="style27">{INFO_TEXT_MESSAGE}</div></td>
											<td>&nbsp;</td>
											<td>{INFO_TEXT_MESSAGE1}</td>
										</tr>
										<tr>
											<td colspan="4"><div align="center">{button}</div></td>
										</tr>
									</table>
								</td>
							</tr></form>
						</table>
					</td>
				</tr>
   </table>
  </td>
 </tr>
</table>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}