{ADMIN_HEADER_HTML}
{update_message}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->        
<!-- Middle Starts -->
<div class="be-content">
  <div class="main-content container-fluid">
  <td width="100%" valign="top">
   <table border="0" width="100%" cellspacing="1" cellpadding="0" class="middle_table1">
    <tr>
     <td valign="top">
      <table border="0" width="100%" cellspacing="0" cellpadding="0" class="middle_table2">
       <tr>
        <td valign="top">
         <table border="0" cellspacing="3" cellpadding="5">
          <tr>
            <td><h3>{HEADING_TITLE}</h3></td>
          </tr>
         </table>
         <table border="0" width="100%" cellspacing="3" cellpadding="10">
          <tr>
           <td class="label" align="right" width="250">{INFO_TEXT_JOBSEEKER_REGISTRATION_NAME}</td>
           <td>{INFO_TEXT_JOBSEEKER_REGISTRATION_NAME1}</td>
          </tr>
          <tr>
           <td class="label" align="right">{INFO_TEXT_JOBSEEKER_REGISTRATION_PRIORITY}</td>
           <td>{INFO_TEXT_JOBSEEKER_REGISTRATION_PRIORITY1}</td>
          </tr>
         </table>
         <table border="0" width="100%" cellspacing="3" cellpadding="10">
          <tr>
           <td class="label" align="center" width="250">{INFO_TEXT_JOBSEEKER_REGISTRATION_DESCRIPTION}</td>
          </tr>
          <tr>
           <td>{INFO_TEXT_JOBSEEKER_REGISTRATION_DESCRIPTION1}</td>
          </tr>
         </table>
         <table border="0" width="100%" cellspacing="3" cellpadding="10">
          <tr>
           <td class="label" align="center" width="250">{INFO_TEXT_FR_JOBSEEKER_REGISTRATION_DESCRIPTION}</td>
          </tr>
          <tr>
           <td>{INFO_TEXT_FR_JOBSEEKER_REGISTRATION_DESCRIPTION1}</td>
          </tr>
         </table>
         <table align="center">
          <tr>
           <td align="middle">{form1}{button1}</td>{hidden_fields}</form>
           <td align="middle">{form2}{button2}</td>{hidden_fields}</form>
          </tr>
         </table>
        </td>
       </tr>
      </table>
     </td>
    </tr>
   </table>
  </td>
<!-- Middle Ends -->
	</tr>
</table>
</div>
</div>
<!-- Right Ends -->
{ADMIN_FOOTER_HTML}