<div style="background-color: #edf0f3; font-size: 14px; color: #272727; font-weight: normal; padding: 25px 0;">
<div style="background-color: #fff; border: 1px solid #e7e7e8; width: 500px; margin: 0 auto; border-radius: 7px; padding: 25px 20px;">
<div style="text-align: center; margin: 0 auto;">{logo}</div>
<div style="background-color: #e7e7e8; height: 0.5px; margin: 20px -21px;"> </div>
<div style="margin: 20px 0;">{site_title}</div>
<table border="0" width="100%" cellspacing="1" cellpadding="0">
<tbody>

<tr>

<td>Order Number
</td>

<td>{order_no}
</td>

</tr>


<tr>

<td>Detailed Invoice
</td>

<td>{order_invoice}
</td>

</tr>


<tr>

<td>Date Ordered
</td>

<td>{order_date}
</td>

</tr>

</tbody>
</table>

<table style="margin-top: 15px;" border="0" width="100%" cellspacing="1" cellpadding="0">
<tbody>

<tr>

<td>{admin_comment}
</td>

</tr>


<tr>

<td><strong>Your order has been updated to the following status.</strong>
</td>

</tr>


<tr>

<td>New status: <strong>{order_status}</strong>
</td>

</tr>


<tr>

<td>Please reply to this email if you have any questions.
</td>

</tr>

</tbody>
</table>

</div>
</div>