<table border="0" bgColor="#cccccc" align="center" width="90%" cellPadding="0" cellSpacing="1"><tbody>
<tr>
<td bgColor="#ffffff"><table align="center" width="100%" cellPadding="2" cellSpacing="2"><tbody>
<tr>
<td bgColor="#efefef"><font size="2">{logo}<br /><b>{site_title}</b></font> 
</td>
</tr>

<tr>
<td height="83" bgColor="#f7f7f7" align="center"><table border="0" bgColor="#ffffff" width="90%" cellPadding="0" cellSpacing="1"><tbody><tr bgColor="#f7f7f7"><td bgColor="#f7f7f7" width="20%"><font size="2">Order Number</font> 
</td>
<td><font size="2">{order_no}</font> 
</td>
</tr>
<tr bgColor="#f7f7f7"><td><font size="2">Detailed Invoice</font> 
</td>
<td><font size="2">{order_invoice}</font> 
</td>
</tr>
<tr bgColor="#f7f7f7"><td><font size="2">Date Ordered</font> 
</td>
<td><font size="2">{order_date}</font> 
</td>
</tr>
</tbody></table>

</td>
</tr>

<tr>
<td bgColor="#efefef"> 
</td>
</tr>

<tr>
</tr>

<tr>
<td bgColor="#f7f7f7"><font size="2">{admin_comment}</font> 
</td>
</tr>

<tr>
<td bgColor="#efefef"><font size="2"><b>Your order has been updated to the following status.</b></font> 
</td>
</tr>

<tr>
<td bgColor="#f7f7f7"><font size="2">New status: <b>{order_status}</b></font> 
</td>
</tr>

<tr>
<td bgColor="#efefef"> 
</td>
</tr>

<tr>
<td bgColor="#f7f7f7"><font size="2">Please reply to this email if you have any questions.</font> 
</td>
</tr>

<tr>
<td bgColor="#f7f7f7">  
</td>
</tr>
</tbody></table>

</td>
</tr>
</tbody></table>
