{ADMIN_HEADER_HTML}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
				<div class="left-sidebar-content">
				{LEFT_HTML}
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Left Ends -->
<!-- Middle Starts -->
<div class="be-content">
  {update_message}
  <div class="main-content container-fluid">
    <h3>
      {HEADING_TITLE}
    </h3>
    <div class="row">
      <div class="col-md-9">
        <div class="card card-table card-border-color card-border-color-primary shadow-sm">
          <div class="card-header d-flex">
            <div class="ms-auto">{new_button}</div>
          </div>
          <div class="card-body table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>{TABLE_HEADING_STATE_NAME}</th>
                  <th>{TABLE_HEADING_CITY_NAME}</th>
                  <th>{TABLE_HEADING_ACTION}</th>
                </tr>
              </thead>
              <tbody>
                <!-- BEGIN cities -->
                <tr{cities.row_selected}>
                  <td>{cities.zone_name}</td>
                  <td>{cities.city_name}</td>
                  <td>{cities.action}</td>
                  </tr>
                  <!-- END cities -->
              </tbody>
              <tfoot>
                <tr>
                  <td>{count_rows}</td>
                  <td align="right">{no_of_pages}</td>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
            <!-- Right Starts -->
            <div class="col-md-3 pl-1">
              <div class="card card-border-color card-border-color-primary">
                <div class="card-body">
              {ADMIN_RIGHT_HTML}
            </div>
            </div>
          </div>
            <!-- Right Ends -->
    </div>
  </div>
</div>
<script>
  let API_URL = '{zone_fectch_api_url}';
  const countryBox = document.getElementById('countryBox');
  const cityZoneId = document.getElementById('cityZoneId');
  let editZoneId = '';

  if (countryBox != null) {
    fetch_zone_based_on_selected_country_id(countryBox.value)
  }

  if (cityZoneId != null) {
    editZoneId = cityZoneId.value;
  }

  function fetch_zone_based_on_selected_country_id(id) {
    const zoneBox = document.getElementById('zoneBox');
    const fetchQuery = fetch(API_URL+id)
                        .then((response) => response.json())
                        .then((data) => {
                          if (data.length > 0) {
                            let optionTag = '';

                            data.forEach(value => {
                              let selected = value.id === editZoneId ? 'selected' : '';

                              optionTag += '<option value="'+value.id+'" '+selected+'>'+value.text+'</option>';
                            })
                            zoneBox.innerHTML = optionTag;
                          }else{
                            zoneBox.innerHTML = '<option>Not Found</option>'
                          }
                        });
  }

  function countrySelectBoxSelect(e){
    fetch_zone_based_on_selected_country_id(e.value)
  }

</script>
{ADMIN_FOOTER_HTML}