{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<!-- Left Starts -->
<div class="be-left-sidebar">
    <div class="left-sidebar-wrapper">
        <div class="left-sidebar-spacer">
            <div class="left-sidebar-scroll" style="overflow-y:scroll!important;">
                <div class="left-sidebar-content">
                    {LEFT_HTML}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Left Ends -->
<!-- Middle Starts -->
<div class="container be-content">
    {update_message}
    <div class="main-content container">
        <h3>
            <span style="margin-right: 5px;font-size: 26px;float: left;">
                <ion-icon name="desktop-outline"></ion-icon>
            </span>{HEADING_TITLE}
        </h3>
        <div class="row">
            <div class="col-md-12">
                <div
                    class="card card-table card-border-color card-border-color-primary shadow-sm card-border-color-primary">
                    <div class="card-header card-header-custom">
                        <div class="float-right mobile-float-left">{quiz_menus}</div>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>{TABLE_HEADING_TITLE}</th>
                                    <th>{TABLE_HEADING_TOTAL_QUESTION}</th>
                                    <th>{TABLE_HEADING_DATE_ADDED}</th>
                                    <th>{TABLE_HEADING_ACTION}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- BEGIN quizs -->
                                <tr>
                                    <td>{quizs.title}</td>
                                    <td>{quizs.countQuestions}</td>
                                    <td>{quizs.created_at}</td>
                                    <td>{quizs.action}</td>
                                </tr>
                                <!-- END quizs -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{FOOTER_HTML}