<title>{page_title}</title>
<META NAME="Keywords" CONTENT=" {meta_title}">
<meta NAME="Description" CONTENT=" {meta_description} ">
{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<script>
  window.setTimeout(function () {
    $(".alert").fadeTo(500, 0).slideUp(500, function () {
      $(this).remove();
    });
  }, 4000);
</script>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      {update_message}

      

      <div class="card card-custom">
        <div class="card-header">
          <div class="d-flex align-items-center m-dblock">
            <h1 class="m-0">{forum_title}</h1>
            <span class="d-flex ms-auto m-dblock">
              <span class="mmb-15">{INFO_TEXT_HEADING_SEARCH}</span> <span class="mmb-15 d-block">{new_button}</span>
            </span>
          </div>
          <div class="small">{INFO_TEXT_FORUM_HEADER_LINK}</div>
      <div class="small mb-3">{form}{hidden_fields1} {total} {list_page} {page}</div>
        </div>
        <div class="card-body card-body-custom p-0">
          <div class="row">

            <section class="col-md-12 mb-2">
              <div class="row">

                <span class="ml-3"></span>
                <div class="col-md-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="px-3">Topic</th>
                        <th width="100">Replies</th>
                        <th class="m-none">Author</th>
                        <th class="m-none" width="100">Last Post</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- BEGIN topic -->
                      <tr {topic.row_selected}>

                        <td class="forum_row_content px-3">
                          <div class="d-flex">
                            <div class="flex-shrink-0 m-none">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-chat-left-text text-dark mt-1" viewBox="0 0 16 16">
                                <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                              </svg>
                            </div>
                            <div class="flex-grow-1 ms-3 mml-0">
                              <h4 class="mt-0">{topic.topic}</h4>
                              {topic.description}
                            </div>
                          </div>

                        </td>

                        <td class="forum_row_content1">
                          {topic.replies}
                        </td>

                        <td class="forum_row_content1 m-none">
                          <span class="forum_author">
                            {topic.author}
                          </span>
                        </td>

                        <td class="forum_row_content1 m-none">
                          <span class="forum_author">
                            {topic.last_reply_author}
                          </span>
                          <br />
                          <nobr>{topic.last_post}</nobr>
                        </td>

                      </tr>
                      <!-- END topic -->
                    </tbody>
                    {INFO_TEXT_HIDE_START}
                    <tfoot>
                      <tr>
                        <td class="label">{total}</td>
                        <td class="label" colspan="4">{list_page}&nbsp;{page}&nbsp;</td>
                      </tr>
                    </tfoot>
                    {INFO_TEXT_HIDE_END}
                  </table>
                </div>
              </div>
            </section>
          </div>
          </form>
          <!--row-end here-->
        </div>
        <!--card body end here-->
      </div>
      <!--card end here-->

    </div>
  </div>
</div>
<!--container end here-->
{FOOTER_HTML}