{page_title}{HEADER_HTML}
{HEADER_MIDDLE_HTML}
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <div class="cardheader">
                <div class="col-md-12 d-flex mb-3 align-items-center">
                    <h1 class="m-0">{HEADING_TITLE}</h1>
                    <div class="d-flex ms-auto">
                        {INFO_TEXT_HEADING_SEARCH}
                    </div>
                </div>
            </div>
            
                    {INFO_TEXT_FORUM_HEADER_LINK}
                    <!-- BEGIN forum_result -->
                    <div class="card card-custom mb-3">
                        <div class="card-body card-body-custom px-3">
                    <table width="100%" border="0" cellpadding="4" cellspacing="1" class="forum_box" >
                        <tr class="forum_header_bar">
                            <td colspan="2"><h4 class="m-0">{forum_result.forum_category}</h4></td>
                            <td width="86"  class="fw-bold small">{TEXT_INFO_THREADS} </td>
                            <td width="80" class="fw-bold small">{TEXT_INFO_POSTS}</span></td>
                        </tr>
                        {forum_result.forum}
                    </table>
                </div>
            </div>
                    <!-- END forum_result -->
                
        </div>
    </div>
</div>
{FOOTER_HTML}
