<div style="background-color: #edf0f3; font-size: 14px; color: #272727; font-weight: normal; padding: 25px 0;">
<div style="background-color: #fff; border: 1px solid #dadce0; width: 500px; margin: 0 auto; border-radius: 7px; padding: 25px 20px;">
<div style="text-align: center; width: 85px; margin: 0 auto;">{logo}</div>
<div style="background-color: #dadce0; height: 0.5px; margin: 20px 0;"> </div>
<div style="margin: 20px 0;">Dear {recruiter_name},</div>
<div style="margin: 20px 0;">The following job will successfully auto renewal and  expired on <span style="color: #ff0000;">{expired_date}</span>.</div>
<div>
<div style="margin: 10px 0;">{job_title}</div>
</div>
<div style="margin: 20px 0;">Admin</div>
<div style="margin: 20px 0;">{site_link}</div>
</div>
</div>