<div style="background-color: #edf0f3; font-size: 14px; color: #272727; font-weight: normal; padding: 25px 0;">
<div style="background-color: #fff; border: 1px solid #dadce0; width: 500px; margin: 0 auto; border-radius: 7px; padding: 25px 20px;">
<div style="text-align: center; width: 85px; margin: 0 auto;">{logo}</div>
<div style="background-color: #dadce0; height: 0.5px; margin: 20px 0;"> </div>
<div style="margin: 20px 0;">Hello {recruiter_name},</div>
<div style="margin: 20px 0; color: #636363;">We've compiled the freshest resume matches for you based on your resume alert preferences.</div>
<div style="margin: 20px 0; color: #636363;">Regards,</div>
<div style="margin: 20px 0; color: #636363;">{site_link}</div>
<div style="margin: 40px 0 20px 0; color: #636363; font-weight: bold;">Resume Alert Results   ({resume_alert_values})</div>

<!-- BEGIN resume_alert_template -->

<div style="margin-bottom: 20px;">
<div>{resume_alert_template.name}</div>
<div>{resume_alert_template.email_address}</div>
<div>{resume_alert_template.view}</div>
</div>

<!-- END resume_alert_template -->
</div>
</div>